---
title: Coffee Drinks
---

<div class="page-intro section">
  <p>
    Offering a selection of coffee drinks will expand your customer base. Some coffee drinks require specific equipments so make sure you check them out at our equipment page. Below are our recommendations
  </p>
</div>

<% af_category "Vietnamese Iced Coffee" do %>
  <p>
    Vietnamese Coffee is made from coarsely grounded  robusta coffee bean. Vietnamese Coffee has a strong, earthy and full-bodied flavor. To make Vietnamese Coffee, a drip filter is needed. (See our guide for equipment and instruction).
  </p>
  <p>
   Vietnamese Coffee is low cost  has twice as much caffeine compared to the regular arabica bean, making it suitable as an espresso. Make sure you test your coffee blend and use a moderate amount of ground coffee, since an extremely strong Vietnamese coffee can cause increasing heart rate. 
  </p>
<% end %>

<% af_category "Classic Hot Tea" do %>
  <p>
    Classic never goes out of style. Since you already stock up tea to make your cold drinks, it will be easy to use the same for hor tea. 
  </p>
  <p>
    Example flavors: Green Tea, Black Tea, White Tea, Oolong Tea, Earl Grey
  </p>
<% end %>

<% af_category "Classic Hot Tea" do %>
  <p>
    Classic never goes out of style. Since you already stock up tea to make your cold drinks, it will be easy to use the same for hor tea. 
  </p>
  <p>
    Example flavors: Green Tea, Black Tea, White Tea, Oolong Tea, Earl Grey
  </p>
<% end %>