---
title: Hot Drinks
---

<div class="page-intro section">
  <p>
    You can offer hot drinks as permanent items or seasonal items on your menu. Winter is a good time to offer season hot drinks to your customers.
  </p>
  <p>
    If your hot drinks contain milk, make sure to test your drinks with a variety of milks to ensure quality and consistency. 
  </P>
</div>

<% af_category "Classic Hot Tea" do %>
  <p>
    Classic never goes out of style. Since you already stock up tea to make your cold drinks, it will be easy to use the same for hor tea. 
  </p>
  <p>
    Example flavors: Green Tea, Black Tea, White Tea, Oolong Tea, Earl Grey
  </p>
<% end %>

<% af_category "Classic Tea Latte" do %>
  <p>
    Some varieties of tea are great for making Tea Latte. If you already have coffee and espresso machines, you can use them to froth the milk to add to hot concentrated tea. Otherwise, a simple and functional milk frother is a great tool to make tea latte
  </p>
<% end %>

<% af_category "Matcha Latte" do %>
  <p>
    Matcha powder is so concentrated, it's great for making latte. Add frothy milk and simple syrup to create a creamy fragrant drink.
  </p>
<% end %>

<% af_category "London Fog Latte" do %>
  <p>
    A latte made with concentrated Earl Grey tea, frothy milk and vanilla syrup. The milk enhances the fruity note in Eerl Grey.
  </p>
  <p>
  </p>
<% end %>

<% af_category "Fruit and Flower Tea" do %>
  <p>
    For hot tea drinks, it's best to use loose leaves fruit or flower teas instead of adding flavoring syrups or powder 
  </p>
  <p>
  Example blends: Mango Green Tea, Peach Green Tea, Pomegranate Green Tea, Pineapple Tea, White Peach White Tea. 
  </p>
<% end %>

<% af_category "Fruit and Flower Tea Latte" do %>
  <p>
    Some varieties of fruit and flower teas are great for making Tea Latte. We suggest you test your tea blends with a varieties of milk to find your desired combinations. 
  </p>
  <p>
  Example blends: Rose Black Milk Tea, Orange Green Milk Tea
  </p>
<% end %>

<% af_category "Hot Thai Tea" do %>
  <p>
    Add milk and sweetener like simple syrup to concentrated hot Thai Tea for a toasty and rich drink. It's best to use loose leaves Thai Tea instead of ready made powder so you can control the amount of sweetness.  
  </p>
<% end %>

<% af_category "Hot Black or Milk Coffee" do %>
  <p>
    Choose a reliable blend of coffee that can be made into simple black coffee and milk coffee.
  </p>
  <p>
    Flavoring syrups can be used to add sweetness and flavors to your hot coffee.
  </p>
<% end %>

<% af_category "Hot Latte" do %>
  <p>
    A strong blend for espresso can be used with frothy milk and flavoring syrups to make creamy varieties of latte.
  </p>
  Example combination: Mocha Latte, Caramel Latter, Banana Mocha Latte, Coconut Mocha Latte
<% end %>

<% af_category "Hot Vietname Coffee" do %>
  <p>
    Hot brewed Vietnamese Coffee using a drip filter is very concentrated. Use sweetened condensed milk as both a sweetener and milk to bring out the robust flavor from Vietnamese robusta coffee beans.
  </p>
<% end %>

