---
title: Milk
---

<div class="page-intro">
  <p class="page-intro__description">
    When it comes to milk, consider offering more than one kind of milk 
    since a lot of people are either intolerant or allergic to a certain kind of milk.  
    Make sure you test your teas with different kinds of milk to ensure flavor consistency. 
    Here are some options to consider beside regular cow's milk.
  </p>
</div>


<% af_category "Lactose Free Milk" do %>
  <p>
    People with lactose-intolerance are unable to digest the lactose (sugar) 
    in regular cow’s milk. As a results, they may experience potentially upsetting gastrointestinal symptoms.  
    We recommend using lactose-free milk as your main milk base  since it has a longer shelf-life 
    and naturally tastes sweeter so you can save on sweetener.
  </p>
<% end %>

<% af_category "Soy Milk" do %>  
  <p>
    Soy milk has a longer shelf-life than regular milk and is usually 
    made from whole soybeans or full-fat soy flour. 
  </p>
<% end %>

<% af_category "Almond Milk" do %>  
  <p>
    With it's creamy texture and nutty taste, almond milk has gained popularity, 
    plus it contains neither cholesterol nor lactose and has a longer shelf life. 
  </p>
<% end %>

<% af_category "Coconut Milk" do %>  
  <p>
    Coconut milk is another dairy-free option with a long shelf-life. 
    Originally more popular in Southeast Asia and the Carribean, 
    coconut milk has been an increasing choice for many Bubble Tea or Coffee shops.
  </p>
<% end %>

<% af_category "Condensed Milk" do %>  
  <p>
    Sweetened condensed milk is the key ingredient for many of the drink flavors such as 
    Thai Tea and Vietnamese coffee. It has thick and creamy consistency and also serves as a sweetener. 
  </p>
<% end %>
