---
title: Slushes
---

<div class="page-intro section">
  <p>
    Slushes are simply your normal drinks mixed with ice in a blender. 
    If possible, we recommend offering a slush version of all your drinks. However, if you want a smaller selection, 
    here are some key flavors to consider.
  </p>
</div>

<% af_category "Slush Flavors" do %>
  <p>
    Strawberry
  </p>
  <p>
    Passionfruit
  </p>
  <p>
    Strawberry
  </p>
  <p>
    Mango
  </p>
  <p>
    Coffee
  </p>
  <p>
    Oreo
  </p>
<% end %>
