---
title: Sweeteners
---

<div class="page-intro section">
  <p>
    You have many options for sweeteners, be careful when using dry sugar or honey in cold drinks. They won't dissolve well
    unless shaken thoroughly.
  </p>
</div>


<% af_category "Simple Syrup" do %>
  <p> 
    A liquid sweetener made from granulated sugar and water. 
  </p>
<% end %> 

<% af_category "Honey" do %>
  <p> 
    Use honey as a sweetener in tea and milk tea drinks for a unique and refreshing flavor. 
    Honey can also be used to sweeten boba after cooking. 
  </p>
<% end %> 

<% af_category "Condensed Milk" do %>
  <p> 
    Condensed Milk is both a milk and a sweetener. Use it in Thai Tea, Vietnamese Coffee, 
    or milk teas to add a creamy texture and rich flavor.
  </p>
<% end %> 

<% af_category "brown Sugar" do %>
  <p> 
    Brown sugar is necessary for sweetening bobas after cooking and can be used in other tea or milk tea drinks. 
  </p>
<% end %> 
