---
title: Tea Types
---

<div class="page-intro">
  <p class="page-intro__description">
    In general, the less a tea is oxidized, the more gentle and light the taste and aroma will be, and vice versa. 
    Black, green, oolong and white tea are made from Camellia sinensis plants with different processes and degrees of oxidization. 
  </p>
</div>

<% af_category "Black Tea" do %>
  <p> 
    Black Tea is fully-oxidized, resulting in a strong robust flavor. Though originally created in China, 
    black teas are now cultivated worldwide, giving you many sources to choose from. Black tea retains its 
    flavor for several years and therefore has longer shelf life. Be careful when you choose where to get your 
    tea from because machine-processed black teas have lower quality. For quality and making in bulk, 
    we suggest you choose loose leaves black teas from a trusted source. 
  </p>
<% end %>
    
<% af_category "Oolong Tea" do %>    
  <p>
    Oolong teas are partially oxidized, resulting in a wide range of  flavors and aromas. 
    Called “Black Dragon” in Chinese, Oolong teas are cultivated in mainland China and Taiwan. 
    Oolong teas can be steeped multiple times, each time giving a unique taste. We recommend testing 
    your chosen Oolongs to determine if they are good for consistent multiple steepings.
  </p>
<% end %>

<% af_category "Green Tea" do %> 
  <p>
    Green tea leaves are heated after picking to prevent oxidization. 
    The choice of different heat processes bring out different flavors from the leaves. 
    Chinese green teas are usually roasted or pan fried, giving a citrus-like or smoky 
    flavors and a lighter body. Japanese green teas are typically steamed, resulting in a deep vegetal or herbaceous flavor. 
    As green teas usually lose their flavor within a year, you should be mindful of the quantity and expiration dates when purchasing them.
  </p>
<% end %>

<% af_category "Matcha" do %> 
  <p>
    Matcha is a finely grounded powder of a type of shaded green tea from Japan. Because you drink the actual tea leaves and not just infused water, the taste is strong and rich, with some bitterness. Matcha is also suitable to used directly in smoothie and slushes.
  </p>
<% end %>

<% af_category "White Tea" do %> 
  <p>
    White tea is unoxidized and has a delicate, subtle, and fresh flavor. 
    They are often hand-processed from the youngest shoots of the tea plants. 
  </p>
<% end %>

<% af_category "Pu-erh Tea" do %> 
  <p>
    Pu-erh tea leaves are microbially fermented and oxidized after they were dried, producing  a rich and earthly taste. 
    Pu-erh tea tastes becomes more complex and improve the longer they age. They usually come packed together in a variation of shapes: cake, dish, brick, mushroom-like, balls, or melon-like. They are also avaibale to purchase in loose leaves and are sometimes mixed in with dried flowers and fruits to enhance the flavors.
  </p>
<% end %>

<% af_category "Flavored Tea Blends" do %> 
  <p> 
    With flavored teas, you have a choice of tea blends or adding <a href="/drinks-and-food/drinks/syrups-and-powders"> flavoring syrups and powder </a> into your tea. 
    Tea blends are mixed from tea leaves and additions of fruits, flowers, spices, herbs, or essention oils to enhance the flavor. 
    The caffein levels in tea blends depend on the tea base in each blend. For example, black and green tea will have more caffein then white tea.
  </p>
  <p>Some example blends are: 
    Mango Green Tea
    Mango Black Tea
    Peach Green Tea
    White Peach White Tea
    Straberry Lemonade Tea
    Pineapple Berry Tea
    Orange Vanilla Green Tea
    Lavender Black Tea
    Rose Black Tea
  </p>
<% end %>

<% af_category "Earl Grey Tea" do %> 
  <p>
    Earl Grey Tea is a tea blend flavored by oil of Bergamot, a fragrant citrus fruit, 
    resulting in a delicate floral and smooth tasting flavor. Traditionally, 
    Earl Grey was made from black tea, but it is now also available in other varieties, 
    such as Green and Oolong. Adding milk often enhances the floral flavor in Earl Grey tea. 
  </p>
<% end %>

<% af_category "Thai Tea" do %> 
  <p>
   Thai tea is a tea blend made from Ceylon black tea and other ingredients such as star anise and 
    crushed tamarind and has The interesting orange color is actually from food coloring. 
    Thai tea comes in powder and loose leaves form. When combined with milk, Thai tea has a toasty and spiced flavor and smooth texture. 
    Traditionally the strongly brewed tea is mixed with sweetened condensed milk, but you 
    may find regular milk adequate too. It can be served both hot and cold. 
  </p>
<% end %>

<% af_category "Herbal Tea" do %> 
  <p>
    Herbal Tea are usually caffeine-free and NOT made with teas from the Camellia sinensis plants. 
    Instead, they are made from combinations of herbs, roots, spices, fruits, berries, flowers, and even seeds or tree barks.
     Some examples are Ginger Root Herbal Tea and Pineapple Berry Tea.
  </p>
<% end %>

<% af_category "Decaf Teas" do %> 
  <p>
    Consider having a few decaffeinated tea varieties in your menu to serves the wide range of customers. 
    Decaf-versions of the classic teas are an option, but they may not retain their robust and unique taste. 
    You can try using naturally caffeine-free teas such as flower or fruit herbal teas instead
  </p>
<% end %>

<% af_category "Where to get your tea" do %> 
  <p>
    Tea is one of the most important ingredients in bubble tea drinks. When you contact a supplier for the first time, ask if they can send you a small sample pack to try out. 
    Test ech type of tea with different kinds of milk and sweetnener to ensure quality and consistency for your drinks. Consider getting the versatile types of tea that can be served both hot and cold.
  </p>
  <ul class="af-category__list">
     <li class="af-category__item">
      <% af_link({ 
        title: "Boba Store", 
        link: "http://www.bobastore.com/default.asp",
        image: "images/af/tea/bobastore.jpg"}) do %> 
        Boba Store is based in California offers green tea, black tea, and thai tea loose leaves as well as a wide range of drink toppings and flavoring syrups and powders. 
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Teavivre", 
        link: "http://teavivre.com/",
        image: "images/af/tea/teavivre.png"}) do %> 
        Based in China, Teavivre can prvide you with authentic Chinese teas directly from the sources. Teavivre follows the EU Reugulation (EC), US FDA regulation, and Japanese Agricultural Standard to ensure the organic quality of their teas. Their loose leaf tea selections are available to ship worldwide. 
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Buddha Teas", 
        link: "http://www.buddhateas.com/",
        image: "images/af/tea/buddhateas.png"}) do %> 
        Buddha Teas is a USDA Organic certified company from California. They offers both tea bags and loose leaf blends, using 100% natural ingredients to create large varieties tea.
        Beside the classic tea selections, Buddha teas also have speciality tea such as Acai Berries Green Tea, Pineapple White Tea, and their unique Reishi Mushroom Tea. Their tea available in loose leaves, tea bags, and whole sale. 
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Inca Tea", 
        link: "http://incatea.com/",
        image: "images/af/tea/inca.jpg"}) do %> 
        The special ingredient of Inca Tea is an antioxidant purple corn that has been used in ancient Incan recipe for Tea. Mixed in with a wide range of tea, flower and fruits, each Inca tea has its unique flavor and distinguish fragant that can be served both hot and cold. Some refreshing blends are: Machu Pichu Mango, Punchau Peach, and Cusco Chamomile.
        Based in Ohio, their blends are available in biodegradable tea sachet and their tea are concentrated enough that they recommend using each tea bag twice. 
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Teavana", 
        link: "http://teavana.com/",
        image: "images/af/tea/Teavana.jpg"}) do %> 
        Teavana has both traditional teas and a wide range of fruity and floral tea blends. Their blends are avaibale in loose leaves.
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Stash Tea", 
        link: "http://stashtea.com/",
        image: "images/af/tea/stashtea.png"}) do %> 
       Based in Oregon, Stash Tea  has a large selections of speciality tea blends that are good hot and cold. Some unique blends include Rootbeer Iced Tea, Mango Passionfruit Herbal Iced Tea, and Orange Spice Ice Tea. 
       Their tea are avaivale as loose leaves and in tea bags.
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Willoughby's Coffee and Tea", 
        link: "http://www.willoughbyscoffee.com/",
        image: "images/af/tea/willoughbys.png"}) do %> 
        Willoughby's loose leaves tea selection include a variety of black tea, green tea, oolong tea, decaf and flavored tea such as Earl Grey, Black Currant, and Passionfruit tea. 
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "California Tea Housse", 
        link: "https://www.californiateahouse.com/",
        image: "images/af/tea/cali.jpg"}) do %> 
        Willoughby's loose leaves tea selection include a variety of black tea, green tea, oolong tea, decaf and flavored tea such as Earl Grey, Black Currant, and Passionfruit tea. 
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Adagio Teas", 
        link: "http://www.adagio.com/",
        image: "images/af/tea/adagio.png"}) do %> 
        Willoughby's loose leaves tea selection include a variety of black tea, green tea, oolong tea, decaf and flavored tea such as Earl Grey, Black Currant, and Passionfruit tea. 
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Blend Bee", 
        link: "https://blendbee.com/",
        image: "images/af/tea/blendbee2.png"}) do %> 
        Willoughby's loose leaves tea selection include a variety of black tea, green tea, oolong tea, decaf and flavored tea such as Earl Grey, Black Currant, and Passionfruit tea. 
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Generation Tea", 
        link: "http://www.generationtea.com/",
        image: "images/af/tea/Generation.png"}) do %> 
        Willoughby's loose leaves tea selection include a variety of black tea, green tea, oolong tea, decaf and flavored tea such as Earl Grey, Black Currant, and Passionfruit tea. 
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Craft Of Tea", 
        link: "https://www.craftoftea.com/",
        image: "images/af/tea/craft.png"}) do %> 
       Description.
      <% end %>
    </li>

  </ul>
<% end %>