---
title: Buildout
---

<% af_category "The Buildout Process" do %>
  <p>
    When you rent a commercial space, it’s either going to come completely empty, or in whatever state the previous tenant left it in. Either way, it’s your job to turn it into the perfect bubble tea shop. The closer your space already is to a bubble tea shop, the cheaper buildout will be--it will probably be cheaper to convert an existing coffee shop than an old insurance office.
  </p>
    <div class="section__sub-section">
      <p class="section__sub-header">AC</p>
      <p class="section_item">
      If you’re starting out with a new space, you’ll have no walls, no electric outlets, nothing. One thing a new space will probably come with is air conditioning. AC is expensive so make sure the AC is sufficient. For example, if you’re planning on including an oven for baked goods, and the AC wasn’t designed to handle the cooling load for a restaurant, you’re going to need to upgrade. Talk to your landlord before moving in, sometimes you can get them to help pay for AC upgrades, since it’s something that you can’t take with you if you move out.
      <p>
    </div>

    <div class="section__sub-section">
      <p class="section__sub-header">General Contractor</p>
      <p class="section_item">
      Once you start buildout, most locations will require you to hire a general contractor to handle buildout. Even if you think you can do most of it yourself, you’re probably going to need someone with a general contractor’s license to get a building permit.
      However, in some locations it is possible to find a general contractor who will let supervise but let you do a lot of the work yourself. This can save you a good bit of money.
      </p>
    </div>

    <div class="section__sub-section">
      <p class="section__sub-header">Electrician and Plumber</p>
      <p class="section_item">
      After that you’re going to need an electrician and a plumber. Your general contractor will be able to subcontract these for you, but you may be able to source them yourself for a lower price.
      One thing to note--once building and electrical permits are pulled it is very difficult to fire your general contractor or electrician, so make sure you get good references before you hire them.
      </p>
    </div>

    <div class="section__sub-section">
      <p class="section__sub-header">Electrician and Plumber</p>
      <p class="section_item">
      After that you’re going to need an electrician and a plumber. Your general contractor will be able to subcontract these for you, but you may be able to source them yourself for a lower price.
      One thing to note--once building and electrical permits are pulled it is very difficult to fire your general contractor or electrician, so make sure you get good references before you hire them.
      </p>
    </div>


    <div class="section__sub-section">
      <p class="section__sub-header">Building Inspection</p>
      <p class="section_item">
      Once you finish buildout, a building inspector will come out to inspect your space before they will allow you to open. This can take significant time, because it’s rare to pass inspection the first time.
      Buildout will almost certainly take you longer than you planned, so make sure you add a few extra weeks into your timeline beyond what you think it will take.
      </p>
    </div>
<% end %>








