---
title: Cost and Profit
---

  <div class="section__sub-section">
    <p class="section__sub-header">Brand Recognition</p>


<% af_category "Startup Costs" do %>
  <p>
    How much is this going to cost? The answer is, as always, it depends. How big is your space? 
    How’s the real estate market in your city? How much work does the space need?
    That doesn’t mean that we can’t help you out with a convenient list of things to consider.
    For most people, these 9 items will determine the vast majority of your startup cost. 
  </p>
  <div class="section__sub-section">
    <p class="section__sub-header">Leasing</p>
    <p class="section__item">
      Just like renting an apartment, you’re going to need to come up with some case up front to pay for the security deposit, 
      fees, and a few months up front. 

      Leasing costs vary widely depending on location, but a good rule of thumb is to pick a space where monthly 
      rent is no more than 15% of your expected monthly revenue.
    </p>
<% end %>