---
title: Cost and Profit
---

  <div class="section__sub-section">
    <p class="section__sub-header">Brand Recognition</p>


<% af_category "Startup Costs" do %>
  <p>
    How much is this going to cost? The answer is, as always, it depends. How big is your space? 
    How’s the real estate market in your city? How much work does the space need?
    That doesn’t mean that we can’t help you out with a convenient list of things to consider.
    For most people, these 9 items will determine the vast majority of your startup cost. 
  </p>
  <div class="section__sub-section">
    <p class="section__sub-header">Leasing</p>
    <p class="section__item">
      Just like renting an apartment, you’re going to need to come up with some case up front to pay for the security deposit, 
      fees, and a few months up front. 

      Leasing costs vary widely depending on location, but a good rule of thumb is to pick a space where monthly 
      rent is no more than 15% of your expected monthly revenue.
    </p>
    <p class="section__sub-header">Buildout</p>
    <p class="section__item">
      When you rent a commercial space, it’s either going to come completely empty, or in w
      hatever state the previous tenant left it in. Either way, it’s your job to turn it into the perfect bubble tea shop.

      The closer your space already is to a bubble tea shop, the cheaper buildout will be--it
      will probably be cheaper to convert an existing coffee shop than an old insurance office.
    </p>
    <p class="section__sub-header">Equipment</p>
    <p class="section__item">
      The good news is a bubble tea shop needs a lot less equipment than most restaurants, even most coffee shops. 
    </p>
    <p class="section__sub-header">Seating</p>
    <p class="section__item">
      Seating can make up a big chunk of your startup costs. Especially if you need a lot of it, 
      and you want tables and chairs that will last.
    </p>
    <p class="section__sub-header">License and Permit Fees</p>
    <p class="section__item">
      Building permits, food service permits, and business licenses will 
      factor into your startup cost, but in most places they aren’t going to make up more than a few percent.
    </p>
    <p class="section__sub-header">Exterior signage</p>
    <p class="section__item">
      Exterior signage is expensive, but it’s the first impression that customers will have of your business. 
      Finding a used sign is significantly cheaper, but make sure it goes well with your shop.
    </p>
    <p class="section__sub-header">Interior signage and menus</p>
    <p class="section__item">
      Good interior signage is a relatively cheap way to make your shop look professional, 
      and well designed menus can improve sales and speed up transactions. Don’t skimp here.
    </p>
    <p class="section__sub-header">Initial supplies</p>
    <p class="section__item">
      You need to make sure you have enough supplies to last long enough to order more once you 
      get a better idea of how many customers you’ll have. 

      Anything you can’t find in a local grocery store or a local restaurant supply store, 
      is what you’ll really need to stock up on. You don’t want to run out of something that’s a week’s delivery time away.
    </p>
    <p class="section__sub-header">Working capital</p>
    <p class="section__item">
      Working capital is one of your biggest startup expenses. Think of working capital as the money 
      you need in the bank to cover your bills (labor, rent etc…) until you start making money. 
      The vast majority of failed restaurants failed because they didn’t have enough money to keep 
      the lights on while they built up a customer base.

      We recommend you aim for at least enough to cover 6 months of operating expenses.
    </p>
<% end %>