---
title: Franchising
---

<div class="page-intro">
  <p class="page-intro__description">
    Wondering if you should franchise with an existing company? Here are some tips to decide if a franchise is a right fit for you.
  </p>
</div>

<h2 class="comparison-list-header">Franchise Pros</h2>
<ul class="comparison-list">
  <li class="comparison-list__item"> 
    <p class="comparison-list__item-title">Brand Recognition</p>
    <p class="comparison-list__description">
      Depending on your area, people are likely to trust a franchised store that they already know and love.
      If your wider area has any well known franchises, this may be a great way to get an immediate customer base.
      However, if you are an in area where bubble tea is not as well known, this aspect of a franchise may not help you
      at all if people have never heard of the franchise.
    </p>
  </li>
  <li class="comparison-list__item"> 
    <p class="comparison-list__item-title">National Advertising</p>
    <p class="comparison-list__description">
      A large enough franchise will have advertising campaigns nationwide to assist you. This is a much less expensive way
      to advertise than paying advertising costs yourself.
    </p>
  </li>
  <li class="comparison-list__item"> 
    <p class="comparison-list__item-title">Startup Assistance</p>
    <p class="comparison-list__description">
      Most franchises are very helpful in helping franchisees setup their store. Many franchises
      will loan trained employees to operate your store for the first week. You won't have to worry about
      design decisions, equipment purchases, and a lot of other startup headaches, as those will all be chosen for you.
    </p>
  </li>
  <li class="comparison-list__item"> 
    <p class="comparison-list__item-title">Consistency</p>
    <p class="comparison-list__description">
      By using tested franchise recipes, equipment, and techniques it will be much easier to maintain a consistent
      flavor and look of your drinks than if you experimented on your own.
    </p>
  </li>
</ul>

<h2 class="comparison-list-header">Franchise Cons</h2>
<ul class="comparison-list">
  <li class="comparison-list__item"> 
    <p class="comparison-list__item-title">High Upfront Costs</p>
    <p class="comparison-list__description">
      The costs of opening a franchise will undoubtedly be higher than starting on your own. Try to 
      compare the costs of both, especially in your specific area, and see if it's worth it you. 
    </p>
  </li>
  <li class="comparison-list__item"> 
    <p class="comparison-list__item-title">Less Independence</p>
    <p class="comparison-list__description">
      If you want to get creative and experimental with your shop, you probably shouldn't franchise.
      Most franchises have very specific drinks to offer and may frown on you offering your own unique creations.
    </p>
  </li>
  <li class="comparison-list__item"> 
    <p class="comparison-list__item-title">Sustained Costs</p>
    <p class="comparison-list__description">
      Franchise fees can be expensive, and you'll have to pay them if you want to keep your store. Be sure to calculate how
      these fees will affect your profit margin and if you can afford to pay them.
      Your store may also have to be renovated occasionally and new equipment purchased to keep up with the franchise's look.
    </p>
  </li>
  <li class="comparison-list__item"> 
    <p class="comparison-list__item-title">Space Requirements</p>
    <p class="comparison-list__description">
      Most franchises have very specific requirements on how big your store must be and how much equipment you have to have.
      Make sure you can afford a large enough space before franchising.
    </p>
  </li>
</ul>
