<div class="page-title">
  <h1 class="page-title__title">Business</h1>
</div>

<ul class="nav-list">
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="business/buildout" class="nav-list__link"> Buildout </a>
      <p class="nav-list__text"> Here are a few things to keep in mind during the buildout process </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="business/cost_and_profit" class="nav-list__link">Cost and Profit </a>
      <p class="nav-list__text"> Here are a few things to keep in mind during the buildout process </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="business/marketing" class="nav-list__link"> Marketing </a>
      <p class="nav-list__text"> Here are a few things to keep in mind during the buildout process </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="business/pricing" class="nav-list__link"> Pricing </a>
      <p class="nav-list__text"> Here are a few things to keep in mind during the buildout process </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="business/property_search" class="nav-list__link"> Property Search </a>
      <p class="nav-list__text"> Here are a few things to keep in mind during the buildout process </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="business/regulations" class="nav-list__link"> Regulations</a>
      <p class="nav-list__text"> Here are a few things to keep in mind during the buildout process </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="business/staffing" class="nav-list__link"> Staffing </a>
      <p class="nav-list__text"> Here are a few things to keep in mind during the buildout process </p>
    </div>
  </li>
</ul>
