---
title: Marketing
---

<div class="page-intro section">
  <p>
  </p>
</div>


<% af_category "Mailers" do %>
  <p>
    Mailers are an excellent way to reach an untapped consumer base that may not know your company exists. The pricing of 
    mailers can vary greatly depending on the level of detail you intend on putting into the mailer.Will you print your own 
    flyer or will you have someone design one for you? If you have one designed,what medium will it be printed on? Typically, 
    a postcard-style mailer can be an effective attention grabber as the recipient doesn’t have anything to open, can see the 
    mailer immediately, and suggests a bit more professionalism than a self-printed flyer.
  </p>
<% end %>

<% af_category "Street Teams" do %>
  <p>
    Street teams are a great way to distribute promotional material. A street team can do something as basic as walking 
    around and inserting flyers/cards into the windows of people’s cars, to visiting festivals and handing out business 
    flyers. When considering this style of marketing ensure that you have enough printed material for your street team 
    to hand out. It is better to have too much material than not enough.If your team is visiting parking lots to place 
    cards on cars be sure to provide them with a location guide. This guide should also have at least one backup/secondary 
    location for them to pass out materials, in case they pass out the maximum amount of materials at the initial location/the 
    initial location is inactive/ or in the event that they are asked to leave. You don’t want your street team ending 
    their marketing campaign early due to unforeseeable circumstances.  Your street team can be comprised of your own 
    workers or can be hired. If you opt to hire a professional street team, ensure they are aware of your brand and product. 
    Give them a general rundown of what you offer in case they are asked questions. Also, if possible, provide them with 
    a company shirt for easier brand identification.
  </p>
<% end %>

<% af_category "Promotions" do %>
  <p>
    Common promotional events could include things like happy hours, drink “punch” cards, email incentives . A typical happy 
    hour promotion offers discounted drinks for a block of time on certain days. Drink “punch” cards or loyalty programs 
    provide the consumer with the opportunity to get a free drink after a certain numberof purchases are made. Provide email 
    subscribers with exclusive coupons/coupon codes. This will encourage your customers to sign up for your newsletter so you 
    can inform a larger consumer audience of upcoming events, drinks, etc.
  </p>
<% end %>

<% af_category "Loyalty Programs" do %>
  <p>
    A basic loyalty program is presented to customers to create brand loyalty through frequent purchases and incentives. These 
    programs can offer the customer things like coupons, advanced access to new products, and even free products/merchandise. 
    One of the most common promotions is that which gives the customer a free drink after a certain number of drinks are purchased 
    or after a certain number of “points” have been earned.
  </p>
<% end %>

<% af_category "Social Media" do %>
  <p>
    Some form of social media presence is one of the most critical pillars of modern marketing strategy. Much of your targeted 
    demographic will look to some form of a social media to not only find general information about your company, but to also 
    see what others are saying about the product your offer, what makes you unique, and to also communicate directly with with. 
    Additionally, this is your direct line to the consumer, wherein you find out what your customers do/don’t like and can 
    change accordingly. Your social media presence should be maintained in a professional manner, but also provide connectivity 
    and interaction between your company and your patrons.Your social media account (specifically Facebook) should provide your 
    patrons with basic, yet necessary business info: location, hours of operation, phone, etc. Use your social media account for 
    promotions. Longer running promotions can be posted on outlets such as Facebook, Twitter, and Instagram, along with some form 
    of a flyer. Shorter promotions are often times promoted using “live” or “story” features of these social media outlets as they 
    are temporary promo events. 
  </p>
<% end %>

<% af_category "Sign Spinners" do %>
  <p>
    Sign spinners/dancers with large colorful signs are an easy and inexpensive way to promote your store. You could have thousands 
    of potential customers drive past without knowing that you even exist. Sign spinners are much more likely to be seen than any 
    static sign.
  </p>
<% end %>



<% af_category "Reviews" do %>
  <ul class="af-category__list">
     <li class="af-category__item">
      <% af_link({ 
        title: "Facebook", 
        image: "images/af/marketing/facebookLogo.png"}) do %>  
        Offering an integrated check-in feature, Facebook is going to be one of your main sources of reviews. Facebook reviews will 
        give you to have a direct line of communication with your customers and allow you to address any feedback you receive.
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Foursquare", 
        image: "images/af/marketing/foursquareLogo.png"}) do %> 
        Foursquare allows for customers to uses location services to get suggestions on where they should go based on what they want. 
        The recommendations are then organized in order of highest rated. Foursquare ratings can also be upvoted or downvoted by users 
        so others can see the reliability of the comment.
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Google", 
        image: "images/af/marketing/googleLogo.png"}) do %> 
        Google reviews are some of the most important reviews for your business. These reviews will be one of the first things customers 
        will see when they search for your business on Google, and better reviews means morevisibility. Additionally, leaving a review 
        on Google does not require a social media account like Facebook or Foursquare - only a Google account.
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Yelp", 
        image: "images/af/marketing/yelpLogo.png"}) do %> 
        Yelp is one of the most influential review sites on the web and allows restaurant owners to respond publically or privately to 
        reviews. One problem with Yelp, however, is that it seems to give more visibility to larger restaurants or those which pay for 
        Yelp advertising.
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Zomato", 
        image: "images/af/marketing/zomatoLogo.png"}) do %> 
        Zomato provides users with some of the most coprehensive search and filtering options. It allows users to search based on area, 
        cuisine, popularity, cost, and rating. If a user is looking specifically for bubble tea then Zomato could be extremely helpful 
        for your company.
      <% end %>
    </li>
  </ul>
<% end %>