---
title: Pricing
---

<% af_category "Pricing Your Items" do %>
  <p>
    Don't wait until the last minute to set prices for your drinks and 
    addon items. You need to start your research long before you open.
  </p>

  <p>
    There are 2 main points to consider when setting prices. Price elasticity,
    and your cost.
  </p>
    <div class="section__sub-section">
      <p class="section__sub-header">Price Elasticity</p>
      <p class="section_item">
      Price elasticity refers to how much a change in price affects peoples
      willingness to buy.

      For example a subway sandwich is very price elastic. If you double the price,
      you'll likely get less than half the customers. That means that doubling the price 
      probably makes you less money over all.
      </p>
      
      <p>
      A patended lifesaving drug on the other hand is very price inelastic. If you double
      the cost, you'll still have nearly as many patients who are willing to buy it.
      </p>

      <p>
      Bubble tea in your area is likely very price elastic. So doubling
      the price will likely lead to less than half the customers.
      The flip side to that is that cutting the price in half will likely
      more than double your customers. But that's where the other
      side of the equation comes in.
      </p>

    </div>

      <div class="section__sub-section">
      <p class="section__sub-header">Cost</p>
      <p class="">
        Your cost determines how low you can set prices. If you sell 
        bubble tea for $0.50, you'll likely have a line out the door 
        all day long...but you won't make a profit because it will cost
        you more than $0.50 to make.
      </p>
      <p>
        The key is to balance these 2 competing factors.
      </p>

    </div>
<% end %>