---
title: Property Search
---

<div class="page-intro section">
  <p>
  </p>
</div>

<% af_category "Demographic Search" do %>
  <p>
    When looking for a new location, make sure a customer base actually exists there. 
    Ideally you're location should have a large amount of younger people. Near college campuses or
    downtown areas are great locations for a bubble tea store.  
  </p>
  <p>
    Areas with Asian immigrant populations are also worth considering, bubble tea has a much larger presence
    in many East Asian countries than it does in America.
  </p>
  <p>
    If you are in an area where bubble tea is not well known, you may need to invest more in marketing your business.
    Many Americans have no idea what bubble tea is, so focus your advertising efforts on educating people in your area about it.
  </p>
<% end %>

<% af_category "Locations" do %>
  <p>
    Bubble tea stores generally thrive anywhere a normal tea or coffee shop would. Locations near other restaurants are good for attracting the
    dessert crowd. Any high volume shopping center or mall are also a good idea.
  </p>
<% end %>

<% af_category "Leasing" do %>
  <p>
    Before signing a lease, be sure to calculate your maximum possible profits, and your expected profits. Think about
    a realistic amount of drinks sold per day and see if you can afford the location if you sold that many. Conversely, a location
    whose price is too good to be true may not be in the best area for bubble tea.
  </p>
<% end %>

<%# af_category "Dealing with Landlords" do %>

<%# end %>

<% af_category "Exterior Signage" do %>
  <p>
    Do not be afraid to spend money on a nice sign! Having a large, well-lit professional sign is one of the
    best way to attract customers. Additionally, if your store is located in a shopping center or mall,
    be aware of their rules for signage. You may not want to have a location where local management restricts
    the kinds of signs you can have. Be sure to negotiate signs before you sign any kind of lease, some locations will not
    allow you to change your signage agreement after signing.
  </p>
<% end %>

