---
title: Staffing
---

<div class="page-intro section">
  <p>
  </p>
</div>

<% af_category "When to hire employees" do %>
  <p>
    If you’re trying to save money, one of the first things to consider is cutting labor costs by 
    working at your shop yourself. Owner operated stores have several advantages beyond just labor costs. 
    No one cares more about your store and your customers than you do, and customers will notice that.
    Even if you don’t want to serve drinks for the rest of your life, consider trying it to get a feel 
    for how everything operates, or just until you’re in a better position to estimate your monthly sales.
  </p>
<% end %>