---
title: Liquid Dispensers
---

<h1>Liquid Dispensers</h1>

<p>
  Good dispensers contain large quantities of tea and keep them piping hot or freezing cold. 
  We recommend having large dedicated dispensers for each kind of tea to save time on brewing and pouring. 
</p>