<li class="nav-list__item">
  <% link_to link, class: "nav-list__link" do %>
    <%= partial "partials/cup_badge" %>
    <div class="nav-list__description">
      <h2 class="nav-list__title"><%= name %></h2>
      <p class="nav-list__text"> <%= description %> </p>
    </div>
  <% end %>
</li>