<li class="nav-list__item">
  <%= partial "partials/cup_badge" %>
  <div class="nav-list__description">
    <a href="<%= link %>" class="nav-list__link"><%= name %></a>
    <p class="nav-list__text"> <%= description %> </p>
  </div>
</li>