---
title: Branding
---


<div class="page-intro section">
  <p>
    Branding is how your business is set apart from other businesses.  It is whatever will make your Bubble Tea 
    shop unique and recognizable to your customers.  Your logo and trademarks are certainly a big portion of your 
    branding.  Your style, decor and colors  as well as the types of drinks and products you offer are also part of your branding.  
    What makes your shop unique among all other businesses?  Branding is an important marketing strategy for today’s businesses.  
    All of your employees should know how to answer the phone to reflect your company’s brand.  Your choice of employee uniforms 
    also reflects the image you want to convey to your customers.  To make sure you are consistent with your branding image, it 
    is a good idea to write down a short message that conveys the image you want to convey.  Perhaps the most important part of 
    branding is to be consistent.  Make sure every aspect of your business that you present is consistent with the branding ideas 
    that you have in mind. And above all, know your customers.  Know what your customers want and expect. 
  </p>
</div>

<% af_category "Naming your Business" do %>
  <p>
    What makes a good business name?  To start with, it should sound good when you say it.  
    Brainstorm a list of keywords and names that are associated with your product.  It’s important to have a company webpage.  
    Check to see if the domain name for your product is available.   Ask for input from others about your ideas for names. 
     Make sure that your name doesn’t conjure up any negative emotions  or that it’s initials spell something strange.  
     There are numerous name generators on the internet and sometimes those can be helpful in helping your brainstorm ideas 
     for you Bubble Tea shop. 
  </p>
<% end %>

<% af_category "Style" do %>
  <p>
    What is your style? Your shop should convey a style that is consistent with your branding and message.  
    How will you decorate?  Is it modern? Do you prefer a retro look?  Do you wish to attract millenials 
    or college age customers?  Research trends and get to know what your customers like and expect.  
    What type of furniture do you buy?  Do you want sleek modern or cozy chic?  Your style should 
    reflect your taste but also be alluring to the type of customers you want to attract.   
  </p>
<% end %>

<% af_category "Colors" do %>
  <p>
    Decide on what color scheme you would like your shop to have.  Ideally, the same colors that decorate 
    your shop should be in your logo  as well. Research trends and see what colors are popular this year.  
    "Millenial Pink" seems to be a current favorite of restaurants and shops.  Light, bright, white and airy is also a current trend.    
  </p>
<% end %>

<% af_category "Logo" do %>
  <p>
    A good logo is a must-have for your business.  A logo is essential to build brand recognition for your customers.  
    Having a top-notch logo is so important, you should consider hiring a graphic designer to design one for you.  
    Sure, it costs money, but the value of a well-designed logo is well worth the expense.  A nice logo builds trust.  
    Customers will feel more confident doing business with you if your shop appears professional.  
    A poorly done logo can ruin your professionalism. Where can you find a graphic designer to design your logo?  
    A professional design firm is the most expensive route and can cost a lot of money. If you can afford it, go for it.  
    But you can also find a good independent freelance graphic designer who may have much more affordable rates.  
    Be sure to check out his/her work and make sure that you like the style.  Beware of bargain priced designers and check 
    them out carefully if you decide to use them.  If you just can’t afford a graphic designer at this stage, there are 
    several online logo creators you can use to design one yourself. 
  </p>
  <p>
    Here are some guidelines for a good logo:  The first step in creating a logo is to define your company’s mission statement.  
    What is it that you do and want to convey about what your do. Why is your shop unique?  Sum it up in as few words as possible.  
    Everything about your logo should convey this mission statement.  The next step is to look at lots of logos.  Check out the logos 
    of your competition.  Look at logos of similar businesses.  Notice what the logos have in common and what sets them apart.  
    What colors are used?  What graphic styles are used?  Ideally, your logo should be similar to your competitors, yet unique.  
    You don’t really want to design a logo that is completely different than anyone else because chances are, their logos all 
    reflect current trends and user testing and have proven themselves to be good design.  You also don’t want to copy another 
    business’ logo.  That can get you into legal trouble as well as not being good for your image.  
  </p>

  <p>
    Ideally, a good logo has up to three colors.  It should be easy to read.  
    Make sure that it scales well and will look good on a tiny business card as well as a large sign.  
    It should also look good in black and white as well.  Using public domain clipart is usually a bad idea.  
    Design your own, or have a designer make artwork for you.  Whatever artwork you choose, make sure you have 
    the proper license to use it in your logo.  
  </p>

  </p>
    Once you’ve created your logo, you should protect it by trademarking it so that no other businesses can use it.  
    You can apply for a trademark at  the U.S. Patent and Trademark Office Website. 
  </p>
<% end %>

<% af_category "Franchising" do %>
  <p>
    If creating your own logo and brand sounds daunting to you, then purchasing a franchise may be your best option.  
    A Bubble Tea franchise includes all the branding, logos, styles, colors, design that you will need and all have been 
    professionally designed and tested.  You have the assurance that your brand is already established and trusted.
    Head over to our <a href="/business/franchising">bubble tea franchising page</a> for more info on franchising. 
  </p>
<% end %>

