---
---
<div class="page-title">
  <h1 class="page-title__title">Design</h1>
</div>

<ul class="nav-list">
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="design/branding" class="nav-list__link">Branding</a>
      <p class="nav-list__text"> When a tornado rips through Kansas, Dorothy and her dog, Toto, are whisked away in their house to the magical land of Oz. They follow the Yellow Brick Road toward the Emerald City to meet the Wizard </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="design/interior_design" class="nav-list__link">Interior Design</a>
      <p class="nav-list__text"> When a tornado rips through Kansas, Dorothy and her dog, Toto, are whisked away in their house to the magical land of Oz. They follow the Yellow Brick Road toward the Emerald City to meet the Wizard </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="design/signage" class="nav-list__link">Signage</a>
      <p class="nav-list__text"> When a tornado rips through Kansas, Dorothy and her dog, Toto, are whisked away in their house to the magical land of Oz. They follow the Yellow Brick Road toward the Emerald City to meet the Wizard </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="design/web" class="nav-list__link">Web</a>
      <p class="nav-list__text"> When a tornado rips through Kansas, Dorothy and her dog, Toto, are whisked away in their house to the magical land of Oz. They follow the Yellow Brick Road toward the Emerald City to meet the Wizard </p>
    </div>
  </li>
</ul>



