---
title: Interior Design
---

<div class="page-intro section">
  <p>
    A nice looking store will keep customers coming back, here's our advice for interior design.
  </p>
</div>

<% af_category "Color Trends" do %>
  <p>
    One of the hottest trends in restaurant decor this year  is the color pink.  
    It is so popular among younger people that it is sometimes known as Millennial Pink.  
    All shades of pink are popular ranging from barely-there blush, to beige with pink accents, to salmon-peach tones.  
    Pink works especially well in Bubble Tea shops because it is light, fresh and exciting.  
    It reminds customers of candy and sweet experiences.  If you don’t like a completely pink look, 
    consider adding a few pink and pastel accents to a more neutral color palette  to give your place modern appeal.  
  </p>
<% end %>

<% af_category "Decor Styles" do %>
  <p>
    There are many, many styles of decor that are popular in restaurants today.  
    Above all, your Bubble Tea business should stand out as a unique and fun place for customers to take friends.  
  </p>

  <p>
    The Retro look is very trendy right now.  Mid Century booths and tables and chairs are in.   
    50’s malt shop style is very popular and retro style menus are cute and fun. 
  </p>

  <p>
    Light and Bright:  Light and Bright is a popular trend for restaurants today and Bubble Tea shops are no exception.  
    Consider adding strings of lights, light airy curtains, and white accents to your decor to brighten up your interior space. 
  </p>

  <p>
    Theme based Design:  Theme based concepts are an exciting trend for restaurant decor.  
    All design aspects are based on a theme or story from the type of furniture to the wall art.
  </p>
<% end %>

<% af_category "Seating" do %>
    <p> 
      Make sure your Bubble Tea shop has enough seating for your customers.  
      You want everyone to have a comfortable place to sit and enjoy their drinks and talk with friends.  
    </p>
    <p>
      Some coffee shops and restaurants have experimented with communal seating.  
      Communal seating is a large table with many chairs gathered around it to encourage strangers to sit together and socialize.  
      It can also be large sofas grouped together. Communal seating is popular in areas where people appreciate an opportunity to 
      meet new people and it could be a cheaper alternative to furnishing enough seating space in your Bubble Tea shop.  
      Your shop could become a community gathering place.  Communal seating, however, is something that is not appealing to everyone. 
      Some people hate communal seating and prefer to sit alone or with their own friends.   
      Make sure you have a good idea what the customers in your area would prefer.   
    </p>
    <p>
      Tables and chairs should be grouped to provide the maximum amount of seating but there should be enough room for 
      customers to walk freely between them.  Diagonally placed tables can provide the most space.  
      Make sure that your customers have enough room to pull out chairs and seat themselves comfortably without bumping 
      into the person behind them.  Please be aware of your area’s fire codes and building regulations when you plan seating 
      and walking space for your customers.  Booster seats and high chairs should also be provided for young customers. 
    </p>
<% end %>

<% af_category "Types of Furniture" do %>
  <p>
    Your furniture should be kept clean and in good shape.   
    The tables and chairs should all be level and not be rickety.  
    The chairs should ideally be large enough to support even larger-size customers. 
    Choose furniture that is easy to clean and maintain. Upholstered furniture may look nice, 
    but may not hold up well to a lot of customers. Make sure you have a plan in place to clean 
    or replace upholstered furniture periodically. Dirty or torn furniture could turn away customers.  
    Pillows look inviting and cozy and can encourage your customers to linger and buy more products but 
    keep in mind that they will need cleaning or replacing often.  
  </p>
<% end %>

<% af_category "Selfie Spot" do %>
  <p>
    Design at least one area of your Bubble Tea shop as a selfie-spot.  
    Encourage customers to take pictures of themselves enjoying their drinks with the name of your shop  
    in the background.  Install some extra lighting in this area to make sure the photos turn out brightly lit and beautiful.  
    You want them to post these selfies on Facebook and Instagram. Some ideas you may want to try include a specially 
    decorated seat, signs with holes cut out for faces to peer through, cute signs, wall decor, novelty items, toys or 
    games to play with.  Anything that will encourage your customers to want to take a selfie of themselves enjoying your shop. 
  </p>
<% end %>
