---
title: Signage & Menus
---


<% af_category "Exterior Signage" do %>
  <p>
    Exterior signage is one of the most important features your company needs. If your business does not have signage it will
    be difficult for customers - both those seeking you out and foot traffic patronage - to find you. There are numerous sign 
    materials to choose from, all at varying price points. Sign materials include, but are not limited to: fabric, illuminated 
    vinyl, painted or carved wood, paint glass storefront, pressed metal. Each of these sign materials offers different installation 
    options as well.
  </p>

  <p>
    When considering sign type it is also recommended that you check your local zoning regulations so that you know any applicable 
    rules like height and width. This can be done by contaction the city hall your business will be located in or simply by Googling 
    your business zipcode + signage zoning regulations.
  </p>
<% end %>

<% af_category "Menu" do %>
  <p>
    The first visit to a bubble tea shop can be a bit confusing. Most stores have a large variety of drink and choice toppings. To ease 
    this potential confusion we suggest displaying your most popular drinks and combinations with distinct visibility on the menu. New 
    customers will be more willing to try 
  </p>

  <p>
    Another way to help new patrons is to provide a simple pick and choose guide on the menu. A step-by-step graphic instructing them to
    "Pick a base drink" + "Add toppings" + "How much sugar?" with a list of products will also alleviate questions about the ordering process.
  </p>
<% end %>

<% af_category "Digital vs. Traditional Menu Boards" do %>
  <h2>Digital Menu Boards</h2>
  <p>
    Digital menu boards a increasing in popularity and, in the long run, are more cost effective. These boards are much easier to edit if you
    happen to introduce a new item - so there is no need to have a new menu board made - and can be day-parted to change over from one menu to another. 
    For example, if your business sells breakfast then your digital menu board can be automated to change from a breakfast menu to a lunch 
    menu at a certain time and can even be updated in real-time. These boards can also be used to cycle through images so you can have numerous 
    boards set up to show both the menu as well as select items. Additionally, graphic artists can be hired to design these menu boards and 
    style them to your liking.
  </p>

  <h2>Traditional Menu Boards</h2>
  <p>
    While digital menu boards are becoming more commonplace, traditional menu boards are still effective. The obvious benefit of using a 
    traditional menu board is that there is no risk of digital or electrical errors. While digital menu boards have many benefits there is
    also the potential cost of maintaining those boards that you should consider. Traditional menu boards require little to no maintenance 
    and are simple to install, as they do not require the electrical wiring needed for digital menu boards.
  </p>
<% end %>

<% af_category "Take-out and Online Menus" do %>
  <p>
    Regardless of whether you decide to have a digital or traditional menu board, you should also have some paper menus availble for patrons 
    to take home or examine more carefully. You should also provide an online menu on all of your social media outlets and website. Many 
    customer prefer to see what an establishment has to offer before visiting so they can cut down on their wait time. Prevents indecisive
    customers from holding up the line and can keep your operations running smoothly.
  </p>
<% end %>

<% af_category "Explanation Posters" do %>
  <p>
    Since bubble tea is still a new food concept to many, there are a quite a few people that may visit your store not knowing exactly what
    everything is. It is a good idea to have posters displayed that give some general information on types of drinks and toppings. These types
    of posters can provide your store with some flair that is both decorative and informative.
  </p>
<% end %>