---
title: Web Presence
---

<p>Web Presence</p>

<div class="page-intro">
  <p class="page-intro__description">
    Your shop should have it's own nice looking website so customers can see your menu, hours, and promotions.
    If you don't want to pay for an expensive custom website, here are many ways to make your own website. We've collected
    several great sites and tools that make it quick and painless to have a fast and beautiful website.
  </p>
</div>

<ul class="terminal-list">
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Website Builders</h2>
    <p class="terminal-list__description"> 
      Website builders allow you to make your own website without any knowledge of web design or html.
      They aren't usually too expensive and allow you to get exactly what you want without relying on someone else.
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Squarespace - Squarespace is one of the most used website builders and offers hundreds of 
          customizable templates for you to start with and edit into your own creation.
          Squarespace also offers tools for you to create an online store if you'd like to sell anything on your website.
          They also offer IT support and advanced security option. Some squarespace features may be overwhelming for less advanced computer users,
          but if you know what you're doing squarespace will probably result in the most professional website.
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Wix - Similar to Squarespace, Wix is another template based website builder with large customization options. 
          Wix has a huge number of customizable features, if you need it, it probably has it. Along with squarespace, wix has the highest number
          and quality of templates of website builders. The lowest paid plan on wix requires a wix advetisement at the top and bottom of your page.
          One downside to wix is it's difficulty of changing templates after you have already added a lot of content. You will have to readd all content
          if you decide to change templates in the middle of building your site.
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Weebly - Weebly is a simpler and slightly more easy to use template based website builder. There are fewer tools and templates
          available but you're website will be faster to create and simple to use. One advantage of weebly is that there are no advertisements
          unless you are using the free version.
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Strikingly - Strikingly has less tools available than other website builders, and fewer templates. However, the templates they do have
          are incredibly focused and useful if they have a template that suits you. Strikingly may have the fastest website creation time if they
          have a template that suits you.
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Simbla - Yet another simple but easy to use website builder. Check out simbla if you want something quick and fast 
          but can't find what you're looking for
          with weebly or strikingly.
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
</ul>