---
title: Food
---
<div class="page-intro section">
  <p>
    Here are some suggestions if you decide to include food on your menu
  </p>
</div>

<% af_category "Bakery Items" do %>
  <p>
    Description
  </p>
<% end %>

<% af_category "Frozen Desserts" do %>
  <p>
    Description
  </p>
<% end %>