---
title: How To Cook Boba
---
<div class="page-intro">
  <p class="page-intro__description">
    How to make and store boba - Good boba is THE most important item a bubble tea shop can have. Good or bad boba can make or break your business, make sure you get it right! Here are our tips for making good boba.
  </p>
</div>
<% af_category "When in Doudt" do %>
  <p>
    Follow the directions on the bag and make a few small batches when you first try to cook a new brand
  </p>
<% end %>
<% af_category "General Cooking Instruction" do %>
  <p>
    Most boba can be cooked using this recipe: 
  </p>
  <p>
    Make sure you have enough water to cover the boba in a pot. A good ratio is 3 cups of water for every cup of boba.
  </p>
  <p> 
    Add boba to boiling water. 
  <p>
   Cook on medium heat. Stir occassionally for 10 minutes.
  </p>
  <p>
    Your boba should be floating on the water surface by now. Turn off heat and let rest for an additional 10 minutes
  </p>
  <p>
    Drain the boba and add it to cold water for 30 seconds
  </p>
  <p>
    Add sweetener of your choice and let sit for at least 15 minutes before serving. 
  </p>
  <p>
    Once you get this process down you can start experimenting to find a more efficient way to make large quantities that suit your store.
  </p>
<% end %>
<% af_category "Storing and Serving" do %>
  <p>
    After draining your boba, add brown sugar or honey to the cooker and let the boba absorb sweetness at least 15 minutes before serving. Sweetened boba takes a little more time and resources, but it’s a much better experience for your customers.
  </p>
  <p>
    Keep your boba warm (usually above 140 degrees for health regulations), keeping boba cold is bad for health and safety reasons, and the texture will become too hard. 
  </p>
  <p>  
    Don’t add boba to any drinks until they’re ready to serve. You can use a rice cooker or a slow cooker to keep your boba warm, head over to our boba cooking equipment page to find a quality boba cooker.
  </p>
  <p>
    Don’t keep your boba for too long, it will start to disintegrate and fall apart in customers drinks. You may be tempted not to throw it out if you still have a large amount left but not throwing away old boba will certainly cost you profits in the long run. 
  </p>
  <p>
    Don’t run out of boba, keep an eye on how much you have left! You should cook your boba in a separate container than the one you store it in so you always have a fresh supply. Making your customers wait on boba or not having any at all will drive them away. 
  </p>
<% end %>
    
