---
title: Must Have Bubble Tea Flavors
---

<div class="page-intro">
  <p class="page-intro__description">
    These are must have customer favorites that bubble tea drinkers will always expect. 
    Definitely include them on your menu!
  </p>
</div>

<ul class="terminal-list">
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Original Milk Tea</h2>
    <p class="terminal-list__description"> 
      The most popular drink is made with black tea and milk. Black tea get its robust flavor from the oxidization process. 
      Combined with milk the drink is creamy, rich, and refreshing.You can use simple syrup as a sweetener to retains the 
      flavors of the tea and milk, or use honey to add an extra intriguing note to the flavors.
    </p>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Taro Milk Tea</h2>
    <p class="terminal-list__description"> 
      Taro milk tea is made from either green or black tea, milk, and taro flavoring powder. 
      We recommend choosing unsweetened taro power and use Simple syrup or honey as 
      sweeteners for more control. Taro powder is usually made from taro roots and have a creamy,
      earthy, and unique flavor. 
    </p>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Thai Tea</h2>
    <p class="terminal-list__description"> 
      Thai tea is a blend made from Ceylon tea and other ingredients such as star anise and 
      crushed tamarind and has The interesting orange color is actually from food coloring. 
      Thai tea comes in powder and loose leaves form. For more control, use loose leaves. 
      When combined with milk, Thai tea has a toasty and spiced flavor and smooth texture. 
      Traditionally the strongly brewed tea is mixed with sweetened condensed milk, but you 
      may find regular milk adequate too. It can be served both hot and cold. 
    </p>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Matcha Tea</h2>
    <p class="terminal-list__description"> 
      Matcha is finely ground powder of green tea leaves. When you drink matcha, 
      you actually drink the tea leaves and not just the  infused water. 
      This enhances the flavor to a rich, bitter and almost grassy taste. 
      However, when mixed with milk and sweetener, Matcha Milk Tea is creamy and robust.
    </p>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Wintermelon Tea</h2>
    <p class="terminal-list__description"> 
      Winter Melon is native to South and Southeast Asia. The ripened fruit is 
      cooked with brown sugar and caramel in water, then filtered into delicateand refreshing tea.
      Winter Melon is available in canned tea and syrup forms, both can be combined with milk for a delicious drink
    </p>
  </li>
</ul>
