---
title: Other Drinks
---

<div class="page-intro">
  <p class="page-intro__description">
    There are several non tea-based drinks you should consider adding to your menu.
  </p>
</div>

<ul class="terminal-list">
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Vietnamese Coffee</h2>
    <p class="terminal-list__description"> 
      Example description
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
</ul>
