---
title: Outside the Box
---


<div class="page-intro">
  <p class="page-intro__description">
    Provide a unique food and drink experience by offering things no other store does.
  </p>
</div>

<ul class="terminal-list">
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Sandwich Shop</h2>
    <p class="terminal-list__description"> 
      Example description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Tea Gifts</h2>
    <p class="terminal-list__description"> 
      Example description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">DIY Bubble Tea Box Set</h2>
    <p class="terminal-list__description"> 
      Example description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Apparel</h2>
    <p class="terminal-list__description"> 
      Example description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
</ul>