---
title: Outside the Box
---

<div class="page-intro section">
  <p>
    Looking for something to help your store stand out? Try some of these suggestions.
  </p>
</div>

<% af_category "Sandwich Shop" do %>
  <p>
    The most popular drink is made with black tea and milk. Black tea get its robust flavor from the oxidization process. 
    Combined with milk the drink is creamy, rich, and refreshing.
  </p>
<% end %>

<% af_category "Tea Gifts" do %>
  <p>
    The most popular drink is made with black tea and milk. Black tea get its robust flavor from the oxidization process. 
    Combined with milk the drink is creamy, rich, and refreshing.
  </p>
<% end %>

<% af_category "DIY Bubble Tea Box Set" do %>
  <p>
    The most popular drink is made with black tea and milk. Black tea get its robust flavor from the oxidization process. 
    Combined with milk the drink is creamy, rich, and refreshing.
  </p>
<% end %>

<% af_category "Apparel" do %>
  <p>
    The most popular drink is made with black tea and milk. Black tea get its robust flavor from the oxidization process. 
    Combined with milk the drink is creamy, rich, and refreshing.
  </p>
<% end %>
