---
title: Outside the Box
---

<div class="page-intro section">
  <p>
    These are must have customer favorites that bubble tea drinkers will always expect. 
    Definitely include them on your menu!
  </p>
</div>

<% af_category "Sandwich Shop" do %>
  <p>
    The most popular drink is made with black tea and milk. Black tea get its robust flavor from the oxidization process. 
    Combined with milk the drink is creamy, rich, and refreshing.
  </p>
<% end %>

<% af_category "Tea Gifts" do %>
  <p>
    The most popular drink is made with black tea and milk. Black tea get its robust flavor from the oxidization process. 
    Combined with milk the drink is creamy, rich, and refreshing.
  </p>
<% end %>

<% af_category "DIY Bubble Tea Box Set" do %>
  <p>
    The most popular drink is made with black tea and milk. Black tea get its robust flavor from the oxidization process. 
    Combined with milk the drink is creamy, rich, and refreshing.
  </p>
<% end %>

<% af_category "Apparel" do %>
  <p>
    The most popular drink is made with black tea and milk. Black tea get its robust flavor from the oxidization process. 
    Combined with milk the drink is creamy, rich, and refreshing.
  </p>
<% end %>
