---
title: Slushes
---

<div class="page-intro">
  <p class="page-intro__description">
    If possible, we recommend offering a slush version of all your drinks. However, if you want a smaller selection, 
    here are some key flavors to consider.
  </p>
</div>

<ul class="terminal-list">
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Strawberry</h2>
    <p class="terminal-list__description"> 
      Example description
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Passionfruit</h2>
    <p class="terminal-list__description"> 
      Example description
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Mango</h2>
    <p class="terminal-list__description"> 
      Example description
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Coffee</h2>
    <p class="terminal-list__description"> 
      Example description
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Mocha</h2>
    <p class="terminal-list__description"> 
      Example description
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Oreo</h2>
    <p class="terminal-list__description"> 
      Example description
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
</ul>
