---
title: Flavored Syrups and Powders
---

<div class="page-intro">
  <p class="page-intro__description">
    <%# TODO MAKE TOPPING INTRO DESCRIPTION %>
  </p>
</div>


<ul class="terminal-list">
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Drink Flavorings</h2>
    <p class="terminal-list__description"> 
      A Guide to a variety of flavored syrups and powders for your drinks.
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Wintermelon</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Lychee</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Taro</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Matcha</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Pineapple</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Mango</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Passionfruit</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Vanilla</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>