---
title: Tea Types
---

<div class="page-intro">
  <p class="page-intro__description">
    In general, the less a tea is oxidized, the more gentle and light the taste and aroma will be, and vice versa. 
    Black, green, oolong and white tea are made from Camellia sinensis plants with different processes and degrees of oxidization. 
  </p>
</div>


<ul class="terminal-list">
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Black Tea</h2>
    <p class="terminal-list__description"> 
      Black Tea is fully-oxidized, resulting in a strong robust flavor. Though originally created in China, 
      black teas are now cultivated worldwide, giving you many sources to choose from. Black tea retains its 
      flavor for several years and therefore has longer shelf life. Be careful when you choose where to get your 
      tea from because machine-processed black teas have lower quality. For quality and making in bulk, 
      we suggest you choose loose leaves black teas from a trusted source. 
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Tea Description
        </p>
        <a class="affiliate-links__link">
          Example Tea Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Oolong Tea</h2>
    <p class="terminal-list__description">
      Oolong teas are partially oxidized, resulting in a wide range of  flavors and aromas. 
      Called “Black Dragon” in Chinese, Oolong teas are cultivated in mainland China and Taiwan. 
      Oolong teas can be steeped multiple times, each time giving a unique taste. We recommend testing 
      your chosen Oolongs to determine if they are good for consistent multiple steepings
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Tea Description
        </p>
        <a class="affiliate-links__link">
          Example Tea Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Green Tea</h2>
    <p class="terminal-list__description">
      Green tea leaves are heated after picking to prevent oxidization. 
      The choice of different heat processes bring out different flavors from the leaves. 
      Chinese green teas are usually roasted or pan fried, giving a citrus-like or smoky 
      flavors and a lighter body. Japanese green teas are typically steamed, resulting in a deep vegetal or herbaceous flavor. 
      As green teas usually lose their flavor within a year, you should be mindful of the quantity and expiration dates when purchasing them.
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Tea Description
        </p>
        <a class="affiliate-links__link">
          Example Tea Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">White Tea</h2>
    <p class="terminal-list__description">
      White tea is unoxidized and has a delicate, subtle, and fresh flavor. 
      They are often hand-processed from the youngest shoots of the tea plants. 
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Tea Description
        </p>
        <a class="affiliate-links__link">
          Example Tea Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Earl Grey Tea</h2>
    <p class="terminal-list__description">
      Earl Grey Tea is flavored by oil of Bergamot, a fragrant citrus fruit, 
      resulting in a delicate floral and smooth tasting flavor. Traditionally, 
      Earl Grey was made from black tea, but it is now also available in other varieties, 
      such as Green and Oolong. Adding milk often enhances the floral flavor in Earl Grey tea. 
      If you decide to include Earl Grey Tea in your menu, also consider adding a London Fog, 
      a latte made with Earl Grey, milk and vanilla syrup
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Tea Description
        </p>
        <a class="affiliate-links__link">
          Example Tea Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Other Floral and Fruit Teas</h2>
    <p class="terminal-list__description">
      With flavored teas, you have a choice of tea blends or flavor syrup. 
      This section is dedicated to tea blends, click here to know more about flavoring syrups and powders.
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Tea Description
        </p>
        <a class="affiliate-links__link">
          Example Tea Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Decaf Teas</h2>
    <p class="terminal-list__description">
      Consider having a few decaffeinated tea varieties in your menu to serves the wide range of customers. 
      Decaf-versions of the classic teas are an option, but they may not retain their robust and unique taste. 
      Therefore, we recommend these naturally caffeine-free teas
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Tea Description
        </p>
        <a class="affiliate-links__link">
          Example Tea Link
        </a>
      </li>
    </ul>
  </li>
</ul>
