---
title: Toppings
---
<div class="page-intro section">
  <p>
    There's more than just boba, here are a large variety of toppings for you to consider adding.
  </p>
</div>

<% af_category "Boba" do %>
  <p>
    Boba is the cornerstone of your restauraunt, so make sure you buy quality boba! 
    We have several recommendations for good boba brands. 
    Also check out our <a href="/how-to-cook-boba">how to cook boba</a> guide.
  </p>
<% end %>

<% af_category "Coffee Jelly" do %>
  <p>
    Jelly with a rich coffee taste that goes great with most milk tea and coffee based drinks.
  </p>
<% end %>

<% af_category "Mango Jelly" do %>
  <p>
    Great jelly to have for fruity drinks.
  </p>
<% end %>

<% af_category "Nata (coconut) Jelly" do %>
  <p>
    Nata is the traditional name for a coconut jelly originating from the phillipines. Goes great with anything!
  </p>
<% end %>

<% af_category "Milk Cap (milk foam)" do %>
  <p>
    Milk caps are a sweet, salty, and frothy layer of foamed milk added to the top of any drink.
  </p>
<% end %>

<% af_category "Popping Pearls" do %>
  <p>
    Popping pearls are fruit based gelatin capsules containing fruit juice that explode with flavor. 
  </p>
<% end %>

<% af_category "Pudding" do %>
  <p>
    Believe it or not, many pudding flavors pair great with bubble tea. Small pudding cubes are easily sipped through a bubble tea straw.
  </p>
<% end %>

<% af_category "Oreos" do %>
  <p>
    Oreos and milk just make sense, why not put them in milk tea?
  </p>
<% end %>
