---
title: Toppings
---


---
title: Sweeteners
---

<div class="page-intro">
  <p class="page-intro__description">
    <%# TODO MAKE TOPPING INTRO DESCRIPTION %>
  </p>
</div>


<ul class="terminal-list">
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Boba</h2>
    <p class="terminal-list__description"> 
      Boba is the cornerstone of your restauraunt, so make sure you buy quality boba! 
      We have several recommendations for good boba brands. 
      Also check out our <a href="/how-to-cook-boba">how to cook boba</a> guide.
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Coffee Jelly</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Mango Jelly</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Nata Jelly</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Popping Pearls</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Pudding</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Oreos</h2>
    <p class="terminal-list__description"> 
      Example Description
    </p>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__description">
          Example Description
        </p>
        <a class="affiliate-links__link">
          Example Link
        </a>
      </li>
    </ul>
  </li>
</ul>
