---
Title: Misc
---

<div class="page-intro">
  <h1 class="page-intro__title">Other Equipment</h1>

  <p class="page-intro__description">
    Here are a few oother pieces of equipment that you may consider. The could help to create an all important 
    consitency with your beverages or provide your patrons with additional product options.
  </p>
</div>

<div class="other-equipment">
  <h2>Liquid Sugar Dispenser</h2>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">9EN Bubble Tea Sugar Dispenser</p>
        <p class="affiliate-links__description">Key Features:</p>
        <ul class="affiliate-links__bullet-list">
          <li class="affiliate-links__bullet-item">24 programmable dispensing functions</li>
          <li class="affiliate-links__bullet-item">Fully dgital</li>
        </ul>
        <a class="affiliate-links__link">
          https://www.bubbleteaology.com/product/sugar-liquid-fructose-dispenser-machine/
        </a>
      </li>
    </ul>
  
  <h2>Snow Ice Machines</h2>
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">Global Bear PDOJ-M-NSF Single Serve Shaved Ice/Shaved Snow Machine</p>
        <p class="affiliate-links__description">Key Features:</p>
        <ul class="affiliate-links__bullet-list">
          <li class="affiliate-links__bullet-item">Compact size</li>
          <li class="affiliate-links__bullet-item">Single serving</li>
          <li class="affiliate-links__bullet-item">Single serve ice chamber makes for easy cleaning</li>
        </ul>
        <a class="affiliate-links__link">
          https://www.bubbleteaology.com/product/global-bear-single-serve-pdoj-m-nsf/
        </a>
      </li>
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">Global Bear PDOM-M-GRM-NSF Shaved Ice/Shaved Snow Machine</p>
        <p class="affiliate-links__description">Key Features:</p>
        <ul class="affiliate-links__bullet-list">
          <li class="affiliate-links__bullet-item">Compact size</li>
          <li class="affiliate-links__bullet-item">Adjustable shaving fineness knob</li>
          <li class="affiliate-links__bullet-item">Wobble free safety clamp keeps ice block centered </li>
        </ul>
        <a class="affiliate-links__link">
          https://www.bubbleteaology.com/product/nsf-snow-ice-shaver-pdom-m/
        </a>
      </li>
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">Global Bear PDOM Snow Ice Shaver</p>
        <p class="affiliate-links__description">Key Features:</p>
        <ul class="affiliate-links__bullet-list">
          <li class="affiliate-links__bullet-item">Foot pedal</li>
          <li class="affiliate-links__bullet-item">Adjustable shaving fineness knob</li>
          <li class="affiliate-links__bullet-item">Large snow ice block capacity for high volume shaving</li>
        </ul>
        <a class="affiliate-links__link">
          https://www.bubbleteaology.com/product/nsf-snow-ice-shaver
        </a>
      </li>
    </ul>  