---
title: Boba Cooking and Storage Equipment
---

<div class="page-intro section">
  <p>
    Good boba is the most important ingredient in your store. 
    Customers won't come back if your boba is not consistent, 
    so take extra care in preparation and storage. </p>
    
    <p>
      We have lots of equipment recommendations to help you cook great boba. 
      Be sure to check our guide on <a href="../../drinks-and-food/how-to-cook-boba">how to cook boba</a>.
    </p>
  </p>
</div>

<div class="af-category section">
  <h2 class=af-category__title>Induction Cookers</h2>
  <p class="af-category__description">
    Induction cookers are one of the fastest and easiest ways to boil water
    and heat boba, and they'are a lot cheaper and smaller than a 
    fullsize stove top.
  </p>

  <ul class="af-category__list">
    <li class="af-category__item">
      <% af_link("Avantco Countertop Induction Range", 
        "https://www.webstaurantstore.com/avantco-ic1800-countertop-induction-range-cooker-120v-1800w/177IC1800%20%20%20120.html", 
        'images/af/equipment/avantco_induction_range.jpg') do %>
        This cooker has an analog temperator knob, heat and hold buttons,
        and a digital timer display--sold at webstaurantstore.com
      <% end %>
    </li>
    <li class="af-category__item">
      <a class="af-link" href="https://www.webstaurantstore.com/avantco-ic1800-countertop-induction-range-cooker-120v-1800w/177IC1800%20%20%20120.html" target="_blank">
        <%= image_tag 'images/af/equipment/avantco_induction_range.jpg', 
          class: 'af-link__img', width: "64", height: "64" %>
        <div class="af-link__description">
          <h3 class="af-link__title">
            Avantco Countertop Induction Range 
          </h3>
          <p class="af-link__text">
            This cooker has an analog temperator knob, heat and hold buttons,
            and a digital timer display--sold at webstaurantstore.com
          </p>
        </div>
      </a>
    </li>
    <li class="af-category__item">
      <a class="af-link" href="https://www.webstaurantstore.com/avantco-ic1800-countertop-induction-range-cooker-120v-1800w/177IC1800%20%20%20120.html" target="_blank">
        <%= image_tag 'images/af/equipment/avantco_induction_range.jpg', 
          class: 'af-link__img', width: "64", height: "64" %>
        <div class="af-link__description">
          <h3 class="af-link__title">
            Avantco Countertop Induction Range 
          </h3>
          <p class="af-link__text">
            This cooker has an analog temperator knob, heat and hold buttons,
            and a digital timer display--sold at webstaurantstore.com
          </p>
        </div>
      </a>
    </li>
    <li class="affiliate-links__li">
      <p class="affiliate-links__title">Avantco Double Countertop Induction Range</p>
      <p class="affiliate-links__description">Key Features:</p>
      <ul class="affiliate-links__bullet-list">
        <li class="affiliate-links__bullet-item">Digital functionality</li>
        <li class="affiliate-links__bullet-item">Dual induction eyes</li>
        <li class="affiliate-links__bullet-item">Warning beep when a non-induction pan is used</li>
      </ul>    
      <a class="affiliate-links__link" href="https://www.webstaurantstore.com/avantco-ic18db-double-countertop-induction-range-cooker-120v-1800w/177IC18DB.html" target="_blank">
        Buy on Webstaurant
      </a>
    </li>
    <li class="affiliate-links__li">
      <p class="affiliate-links__title">Waring Commercial Induction Range</p>
      <p class="affiliate-links__description">Key Features:</p>
      <ul class="affiliate-links__bullet-list">
        <li class="affiliate-links__bullet-item">11" x 11" ceramic glass surface</li>
        <li class="affiliate-links__bullet-item">12 temperature settings</li>
        <li class="affiliate-links__bullet-item">Full digital display</li>
      </ul>    
      <a class="affiliate-links__link" href="https://www.webstaurantstore.com/waring-wih400-commercial-induction-range-120v-1800w/929WIH400.html" target="_blank">
        Buy on Webstaurant
      </a>
    </li>
    <li class="affiliate-links__li">
      <p class="affiliate-links__title">Europdib Commercial Induction Cooker</p>
      <p class="affiliate-links__description">Key Features:</p>
      <ul class="affiliate-links__bullet-list">
        <li class="affiliate-links__bullet-item">220-240 Volts, 3000 Watts</li>
        <li class="affiliate-links__bullet-item">Ceramic glass cooking base</li>
        <li class="affiliate-links__bullet-item">Fully digital</li>
      </ul>    
      <a class="affiliate-links__link" href="https://www.bobateadirect.com/induction-cooker-ihe3097-220v.html" target="_blank">
        Buy on Boba Tea Direct
      </a>
    </li>
    <li class="affiliate-links__li">
      <p class="affiliate-links__title">Vollrath Mirage Natural Induction Rethermalizer</p>
      <p class="affiliate-links__description">Key Features:</p>
      <ul class="affiliate-links__bullet-list">
        <li class="affiliate-links__bullet-item">Slow cooker style induction cooker with pot</li>
        <li class="affiliate-links__bullet-item">Full digital display</li>
        <li class="affiliate-links__bullet-item">Hold warming temp of 150F</li>
      </ul>    
      <a class="affiliate-links__link" href="https://www.webstaurantstore.com/vollrath-74110110-mirage-11-qt-natural-induction-rethermalizer-120v-800w/92274110110.html" target="_blank">
        Buy on Webstaurant
      </a>
    </li>
    <li class="affiliate-links__li">
      <p class="affiliate-links__title">Waring Double Commercial Induction Range</p>
      <p class="affiliate-links__description">Key Features:</p>
      <ul class="affiliate-links__bullet-list">
        <li class="affiliate-links__bullet-item">Dual induction eyes</li>
        <li class="affiliate-links__bullet-item">12 temperature settings</li>
        <li class="affiliate-links__bullet-item">Full digital display</li>
      </ul>    
      <a class="affiliate-links__link" href="https://www.webstaurantstore.com/waring-wih800-double-commercial-induction-range-with-step-up-208-240v-3600w/929WIH800.html" target="_blank">
        Buy on Webstaurant
      </a>
    </li>        
  </ul>
</div>

<div class="induction-pans section">
  <h2>Induction Pans</h2>
  <ul class="affiliate-links">
    <li class="affiliate-links__li">
      <p class="affiliate-links__title">Update International 12 Quart Induction Ready Stainless Steel Stock Pot</p>
      <p class="affiliate-links__description">Key Features:</p>
      <ul class="affiliate-links__bullet-list">
        <li class="affiliate-links__bullet-item">Induction ready</li>
        <li class="affiliate-links__bullet-item">Stainless steel</li>
        <li class="affiliate-links__bullet-item">12 quart capacity</li>
      </ul>    
      <a class="affiliate-links__link" href="https://www.amazon.com/Update-International-SPS-12-Induction-Stainless/dp/B000X1JRX2" target="_blank">
        Buy on Amazon
      </a>
    </li>
    <li class="affiliate-links__li">
      <p class="affiliate-links__title">Update International 16 Quart Induction Ready Stainless Steel Stock Pot</p>
      <p class="affiliate-links__description">Key Features:</p>
      <ul class="affiliate-links__bullet-list">
        <li class="affiliate-links__bullet-item">Induction ready</li>
        <li class="affiliate-links__bullet-item">Stainless steel</li>
        <li class="affiliate-links__bullet-item">16 quart capacity</li>
      </ul>    
      <a class="affiliate-links__link" href="https://www.amazon.com/Update-International-SPS-16-Induction-Stainless/dp/B000X1M2QG" target="_blank">
        Buy on Amazon
      </a>
    </li>
    <li class="affiliate-links__li">
      <p class="affiliate-links__title">Update International 24 Quart Induction Ready Stainless Steel Stock Pot</p>
      <p class="affiliate-links__description">Key Features:</p>
      <ul class="affiliate-links__bullet-list">
        <li class="affiliate-links__bullet-item">Induction ready</li>
        <li class="affiliate-links__bullet-item">Stainless steel</li>
        <li class="affiliate-links__bullet-item">24 quart capacity</li>
      </ul>    
      <a class="affiliate-links__link" href="https://www.amazon.com/Update-International-SPS-16-Induction-Stainless/dp/B000X1MKBS" target="_blank">
        Buy on Amazon
      </a>
    </li>
    <li class="affiliate-links__li">
      <p class="affiliate-links__title">Update International 32 Quart Induction Ready Stainless Steel Stock Pot</p>
      <p class="affiliate-links__description">Key Features:</p>
      <ul class="affiliate-links__bullet-list">
        <li class="affiliate-links__bullet-item">Induction ready</li>
        <li class="affiliate-links__bullet-item">Stainless steel</li>
        <li class="affiliate-links__bullet-item">32 quart capacity</li>
      </ul>    
      <a class="affiliate-links__link" href="https://www.amazon.com/Update-International-SPS-16-Induction-Stainless/dp/B000X1QKRI" target="_blank">
        Buy on Amazon
      </a>
    </li>
  </ul>
</div>