---
title: Boba Cooking and Storage Equipment
---

<div class="page-intro section">
  <p>
    Good boba is the most important ingredient in your store. 
    Customers won't come back if your boba is not consistent, 
    so take extra care in preparation and storage. </p>
    
    <p>
      We have lots of equipment recommendations to help you cook great boba. 
      Be sure to check our guide on <a href="../../drinks-and-food/how-to-cook-boba">how to cook boba</a>.
    </p>
  </p>
</div>

<% af_category "Induction Cookers" do %>
  <p>
    Induction cookers are one of the fastest and easiest ways to boil water
    and heat boba, and they'are a lot cheaper and smaller than a 
    fullsize stove top.
  </p>

  <ul class="af-category__list">
    <li class="af-category__item">
      <% af_link({ 
        title: "Avantco Countertop Induction Range", #link text
        link: "https://www.webstaurantstore.com/avantco-ic1800-countertop-induction-range-cooker-120v-1800w/177IC1800%20%20%20120.html", #href
        image: 'images/af/equipment/avantcoRange.png'}) do %> <%# image url %>
        This cooker has an analog temperature knob, heat and hold buttons,
            and a digital timer display
        -- sold at webstaurant.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Avantco Double Countertop Induction Range", #link text
        link: "https://www.webstaurantstore.com/avantco-ic18db-double-countertop-induction-range-cooker-120v-1800w/177IC18DB.html", #href
        image: 'images/af/equipment/avantcoDoubleRange.png'}) do %> <%# image url %>
        This cooker has dual induction eyes with digital functionality and uses a warning beep when a non-induction pan is used.
        -- sold at webstaurant.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Waring Commercial Induction Range", #link text
        link: "https://www.webstaurantstore.com/waring-wih400-commercial-induction-range-120v-1800w/929WIH400.html", #href
        image: 'images/af/equipment/waringRange.png'}) do %> <%# image url %>
        This cooker features an 11in x 11in ceramic class surface with twelve temperature settings and a full digital display.
        -- sold at webstaurant.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Europdib Commercial Induction Cooker", #link text
        link: "https://www.bobateadirect.com/induction-cooker-ihe3097-220v.html", #href
        image: 'images/af/equipment/europdibRange.png'}) do %> <%# image url %>
        This 220 Volt, 3000 Watt cooker has a ceramic glass cooking base and is fully digital.
        -- sold at bobateadirect.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Vollrath Mirage Natural Induction Rethermalizer", #link text
        link: "https://www.webstaurantstore.com/vollrath-74110110-mirage-11-qt-natural-induction-rethermalizer-120v-800w/92274110110.html", #href
        image: 'images/af/equipment/vollrathRange.png'}) do %> <%# image url %>
        This induction cooker comes in a slow cooker style design with full digital display and offers a hold warming temperature of 150F.
        -- sold at webstaurant.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Waring Double Commercial Induction Range", #link text
        link: "https://www.webstaurantstore.com/waring-wih800-double-commercial-induction-range-with-step-up-208-240v-3600w/929WIH800.html", #href
        image: 'images/af/equipment/waringDoubleRange.png'}) do %> <%# image url %>
        This cooker has dual induction eyes with twelve temperature settings and a fully digital display.
        -- sold at webstaurant.com
      <% end %>
    </li>
  </ul>
<% end %>


<% af_category "Induction Cookware" do %>
  <p>
    Special pots and pans are required to use induction cookers. 
  </p>

  <ul class="af-category__list">
    <li class="af-category__item">
      <% af_link({ 
        title: "Update International 12 Quart Induction Ready Stainless Steel Stock Pot", #link text
        link: "https://www.amazon.com/Update-International-SPS-12-Induction-Stainless/dp/B000X1JRX2", #href
        image: 'images/af/equipment/updateinternational12qt.png'}) do %> <%# image url %>
        This stainless steel pot is induction ready and has a 12 quart capacity.
        -- sold at amazon.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Update International 16 Quart Induction Ready Stainless Steel Stock Pot", #link text
        link: "https://www.amazon.com/Update-International-SPS-16-Induction-Stainless/dp/B000X1M2QG", #href
        image: 'images/af/equipment/updateinternational16qt.png'}) do %> <%# image url %>
        This stainless steel pot is induction ready and has a 16 quart capacity.
        -- sold at amazon.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Update International 24 Quart Induction Ready Stainless Steel Stock Pot", #link text
        link: "https://www.amazon.com/Update-International-SPS-16-Induction-Stainless/dp/B000X1MKBS", #href
        image: 'images/af/equipment/updateinternational24qt.png'}) do %> <%# image url %>
        This stainless steel pot is induction ready and has a 24 quart capacity.
        -- sold at amazon.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Update International 32 Quart Induction Ready Stainless Steel Stock Pot", #link text
        link: "https://www.amazon.com/Update-International-SPS-16-Induction-Stainless/dp/B000X1QKRI", #href
        image: 'images/af/equipment/updateinternational32qt.png'}) do %> <%# image url %>
        This stainless steel pot is induction ready and has a 32 quart capacity.
        -- sold at amazon.com
      <% end %>
    </li>
  </ul>
<% end %>
    