---
title: Refrigerators
---


<% af_category "Refrigerators" do %>
  <p>
    A good refrigerator is indispensable to any bubble tea store. Health regulations require storing foods 
    and liquids at specific temperatures. We recommend any of these high quality refrigerators for your store. 
  </p>

  <ul class="af-category__list">
    <li class="af-category__item">
      <% af_link({ 
        title: "Danby Steel Two Door Apartment Size Refrigerator", #link text
        link: "https://www.amazon.com/Danby-DPF073C1BSLDD-Designer-Apartment-Refrigerator/dp/B0161X4OUQ", #href
        image: 'images/af/equipment/danby8cuFridge.png'}) do %> <%# image url %>
        This refrigerator is 7.3 cubic feet with a crisper and top-mount freezer.
        -- sold at amazon.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Danby Refrigerator with Top-Mount Freezer", #link text
        link: "https://www.amazon.com/Danby-DFF100C1BSLDB-Refrigerator-Top-Mount-Spotless/dp/B00O2MGO66", #href
        image: 'images/af/equipment/danby9cuFridge.png'}) do %> <%# image url %>
        This refrigerator is 9.9 cubic with separate electronic controls for the freezer and the refrigerator itself, as well 
        as a top-mount freezer.
        -- sold at amazon.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Avantco Black Swing Glass Door Merchandiser Refrigerator 8.6 Cubic Feet", #link text
        link: "https://www.webstaurantstore.com/avantco-gdc-10-hc-21-5-8-black-swing-glass-door-merchandiser-refrigerator-with-led-lighting-8-6-cu-ft/178GDC10HCB.html", #href
        image: 'images/af/equipment/advantco8cuFridge.png'}) do %> <%# image url %>
        This refrigerator is 8.6 cubic feet and has a glass front allows for easy view of produce inside.
        -- sold at webstaurantstore.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Avantco Black Swing Glass Door Merchandiser Refrigerator 13.3 Cubic Feet", #link text
        link: "https://www.webstaurantstore.com/avantco-gdc-15-hc-25-5-8-black-swing-glass-door-merchandiser-refrigerator-with-led-lighting-13-3-cu-ft/178GDC15HCB.html", #href
        image: 'images/af/equipment/advantco13cuFridge.png'}) do %> <%# image url %>
        This refrigerator 13.3 cubic feet and has a glass front allows for easy view of produce inside.
        -- sold at webstaurantstore.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Avantco Black Swing Glass Door Merchandiser Refrigerator 23 Cubic Feet", #link text
        link: "https://www.webstaurantstore.com/avantco-gdc-23-hc-28-3-8-white-swing-glass-door-merchandiser-refrigerator-with-led-lighting-23-cu-ft/178GDC23HCW.html", #href
        image: 'images/af/equipment/advantco23cuFridge.png'}) do %> <%# image url %>
        This refrigerator is 23 cubic feet and has a glass front allows for easy view of produce inside.
        -- sold at webstaurantstore.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Avantco One Section Glass Door Reach-In Refrigerator", #link text
        link: "https://www.webstaurantstore.com/avantco-cfd-1rr-g-29-one-section-glass-door-reach-in-refrigerator-with-led-lighting/178CFD1RRG.html", #href
        image: 'images/af/equipment/advantco23cuStainlessFridge.png'}) do %> <%# image url %>
        This refrigerator is 23 cubic feet and has a glass front allows for easy view of produce inside.
        -- sold at webstaurantstore.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Avantco Black Sliding Glass Door Merchandiser Refrigerator", #link text
        link: "https://www.webstaurantstore.com/avantco-gds-47-hc-53-black-sliding-glass-door-merchandiser-refrigerator-with-led-lighting-42-5-cu-ft/178GDS47HCB.html", #href
        image: 'images/af/equipment/advantco42cuFridge.png'}) do %> <%# image url %>
        This refrigerator is 42.5 cubic feet and has a glass front allows for easy view of produce inside.
        -- sold at webstaurantstore.com
      <% end %>
    </li>
  </ul>
<% end %>
