---
title: Refrigerators
---

<div class="page-intro">
  <p class="page-intro__description">
    A good fridge is indispensable to any bubble tea store. Health regulations require storing foods 
    and liquids at specific temperatures. We recommend any of these high quality refrigerators for your store. 
  </p>
</div>

<ul class="affiliate-links">
  <li class="affiliate-links__li">
    <p class="affiliate-links__title">Danby Steel Two Door Apartment Size Refrigerator</p>
    <p class="affiliate-links__description">Key Features:</p>
    <ul class="affiliate-links__bullet-list">
      <li class="affiliate-links__bullet-item">7.3 cubic feet</li>
      <li class="affiliate-links__bullet-item">Crisper</li>
    </ul>
    <a class="affiliate-links__link" href="https://www.amazon.com/Danby-DPF073C1BSLDD-Designer-Apartment-Refrigerator/dp/B0161X4OUQ" target="_blank">
      Buy on Amazon
    </a>
  </li>
  <li class="affiliate-links__li">
    <p class="affiliate-links__title">Danby Refrigerator with Top-Mount Freezer</p>
    <p class="affiliate-links__description">Key Features:</p>
    <ul class="affiliate-links__bullet-list">
      <li class="affiliate-links__bullet-item">9.9 cubic feet</li>
      <li class="affiliate-links__bullet-item">Separate electronic controls for freezer and refrigerator</li>
    </ul>
    <a class="affiliate-links__link" href="https://www.amazon.com/Danby-DFF100C1BSLDB-Refrigerator-Top-Mount-Spotless/dp/B00O2MGO66" target="_blank">
      Buy on Amazon
    </a>
  </li>
  <li class="affiliate-links__li">
    <p class="affiliate-links__title">Avantco Black Swing Glass Door Merchandiser Refrigerator 8.6 Cubic Feet</p>
    <p class="affiliate-links__description">Key Features:</p>
    <ul class="affiliate-links__bullet-list">
      <li class="affiliate-links__bullet-item">8.6 cubic feet</li>
      <li class="affiliate-links__bullet-item">Glass front allows for easy view of produce inside</li>
    </ul>
    <a class="affiliate-links__link" href="https://www.webstaurantstore.com/avantco-gdc-10-hc-21-5-8-black-swing-glass-door-merchandiser-refrigerator-with-led-lighting-8-6-cu-ft/178GDC10HCB.html" target="_blank">
      Buy on Webstaurant
    </a>
  </li>
  <li class="affiliate-links__li">
    <p class="affiliate-links__title">Avantco Black Swing Glass Door Merchandiser Refrigerator 13.3 Cubic Feet</p>
    <p class="affiliate-links__description">Key Features:</p>
    <ul class="affiliate-links__bullet-list">
      <li class="affiliate-links__bullet-item">13.3 cubic feet</li>
      <li class="affiliate-links__bullet-item">Glass front allows for easy view of produce inside</li>
    </ul>
    <a class="affiliate-links__link" href="https://www.webstaurantstore.com/avantco-gdc-15-hc-25-5-8-black-swing-glass-door-merchandiser-refrigerator-with-led-lighting-13-3-cu-ft/178GDC15HCB.html" target="_blank">
      Buy on Webstaurant
    </a>
  </li>
  <li class="affiliate-links__li">
    <p class="affiliate-links__title">Avantco Black Swing Glass Door Merchandiser Refrigerator 23 Cubic Feet</p>
    <p class="affiliate-links__description">Key Features:</p>
    <ul class="affiliate-links__bullet-list">
      <li class="affiliate-links__bullet-item">23 cubic feet</li>
      <li class="affiliate-links__bullet-item">Glass front allows for easy view of produce inside</li>
    </ul>
    <a class="affiliate-links__link" href="https://www.webstaurantstore.com/avantco-gdc-23-hc-28-3-8-white-swing-glass-door-merchandiser-refrigerator-with-led-lighting-23-cu-ft/178GDC23HCW.html" target="_blank">
      Buy on Webstaurant
    </a>
  </li>  
  <li class="affiliate-links__li">
    <p class="affiliate-links__title">Avantco One Section Glass Door Reach-In Refrigerator</p>
    <p class="affiliate-links__description">Key Features:</p>
    <ul class="affiliate-links__bullet-list">
      <li class="affiliate-links__bullet-item">23 Cubic Feet</li>
      <li class="affiliate-links__bullet-item">Glass front allows for easy view of produce inside</li>
    </ul>
    <a class="affiliate-links__link" href="https://www.webstaurantstore.com/avantco-cfd-1rr-g-29-one-section-glass-door-reach-in-refrigerator-with-led-lighting-23-cu-ft/178CFD1RRG.html" target="_blank">
      Buy on Webstaurant
    </a>
  </li>    
  <li class="affiliate-links__li">
    <p class="affiliate-links__title">Avantco Black Sliding Glass Door Merchandiser Refrigerator</p>
    <p class="affiliate-links__description">Key Features:</p>
    <ul class="affiliate-links__bullet-list">
      <li class="affiliate-links__bullet-item">42.5 Cubic Feet</li>
      <li class="affiliate-links__bullet-item">Glass front allows for easy view of produce inside</li>
    </ul>
    <a class="affiliate-links__link" href="https://www.webstaurantstore.com/avantco-gds-47-hc-53-black-sliding-glass-door-merchandiser-refrigerator-with-led-lighting-42-5-cu-ft/178GDS47HCB.html" target="_blank">
      Buy on Webstaurant
    </a>
  </li>          
</ul>