---
---
<div class="page-title">
  <h1 class="page-title__title">Equipment and Supplies</h1>
</div>

<ul class="nav-list">
  <li class="nav-list__item">
     <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="equipment_and_supplies/pos" class="nav-list__link">Point of Sale Systems</a>
      <p class="nav-list__text"> When a tornado rips through Kansas, Dorothy and her dog, Toto, are whisked away in their house to the magical land of Oz. They follow the Yellow Brick Road toward the Emerald City to meet the Wizard </p>
    </div>
  </li>
   <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="equipment_and_supplies/restaurant_equipment" class="nav-list__link">Restaurant Equipment</a>
      <p class="nav-list__text"> When a tornado rips through Kansas, Dorothy and her dog, Toto, are whisked away in their house to the magical land of Oz. They follow the Yellow Brick Road toward the Emerald City to meet the Wizard </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="equipment_and_supplies/supplies" class="nav-list__link">Supplies</a>
      <p class="nav-list__text"> When a tornado rips through Kansas, Dorothy and her dog, Toto, are whisked away in their house to the magical land of Oz. They follow the Yellow Brick Road toward the Emerald City to meet the Wizard </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="equipment_and_supplies/misc" class="nav-list__link">Misc</a>
      <p class="nav-list__text"> When a tornado rips through Kansas, Dorothy and her dog, Toto, are whisked away in their house to the magical land of Oz. They follow the Yellow Brick Road toward the Emerald City to meet the Wizard </p>
    </div>
  </li>
</ul>

