---
---
<div class="page-title">
  <h1 class="page-title__title">Equipment and Supplies</h1>
</div>

<ul class="nav-list">
  <%= partial 'partials/nav_list_item', locals: { name: "Point of Sale Systems", link: "/equipment/pos", 
    description: "Find a point of sale system for your store to take credit cards and other froms of payment." } %>
  <%= partial 'partials/nav_list_item', locals: { name: "Restaurant Equipment", link: "/equipment/restaurant-equipment", 
    description: "A list of equipment to get your bubble tea shop up and running." } %>
  <%= partial 'partials/nav_list_item', locals: { name: "Misc", link: "/equipment/misc", 
    description: "Miscellaenous items for any bubble tea shop." } %>
</ul>

