---
title: Home
---

<div class="hero-image">
  <img src="/images/hero-img.png" >
</div>

<ul class="nav-list">
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="business" class="nav-list__link"> Business </a>
      <p class="nav-list__text"> Here's some description text about a main page </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="drinks_and_food" class="nav-list__link">Drinks and Food </a>
      <p class="nav-list__text"> Here's some description text about a main page </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="equipment_and_supplies" class="nav-list__link"> Equipment and Supplies </a>
      <p class="nav-list__text"> Here's some description text about a main page </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="design" class="nav-list__link"> Design </a>
      <p class="nav-list__text"> Here's some description text about a main page </p>
    </div>
  </li>
  <li class="nav-list__item">
    <img src="/images/icon.png" class="nav-list__icon">
    <div class="nav-list__description">
      <a href="featured_shops/featured_shop" class="nav-list__link"> Featured Shops </a>
      <p class="nav-list__text"> Here's some description text about a main page </p>
    </div>
  </li>
</ul>