---
title: Supplies
---

<div class="page-intro">
  <h1 class="page-intro__title">Supplies</h1>

  <p class="page-intro__description">
    These are supplies that every bubble tea store needs!
  </p>
</div>

<ul>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Shakers</h2>
    <p class="terminal-list__description">
      The “bubbles” of bubble tea actually refer to the foam that rests at the top of the cup after shaking. 
      Because of this, shakers are one of the most important pieces of equipment in any bubble tea shop. 
      Manual shakers are an option if you’re on a budget, but we recommend a specialized 
      <a href="restaurant-equipment/shaker-machines"> bubble tea shaking machine </a>. 
      These machines ensure drink consistency and are sure to impress your customers. 
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">Wecan Stainless Steel Shaker</p>
        <p class="affiliate-links__description">
          These stainless steel shakers come in four sizes: 250ml, 350ml, 530ml, and 750ml.
        </p>
        <a class="affiliate-links__link">
          https://www.aliexpress.com/item/Nice-Barware-Drinkware-250-350-550-750ml-Stainless-Steel-Cocktail-Shaker-Bar-Wine-Martini-Drink-Mixer/32780626812.html
        </a>
      </li>
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">Pinbo Stainless Steel Shaker</p>
        <p class="affiliate-links__description">
          This stainless steel shaker can hold up to 550ml of liquid and has an optional customized logo available.
        </p>
        <a class="affiliate-links__link">
          https://www.alibaba.com/product-detail/Stainless-Steel-Drink-Shaker_60016944724.html?spm=a2700.7724838/old.2017115.93.q7T9RW
        </a>
      </li>
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">Finether Stainless Steel Professional Shaker </p>
        <p class="affiliate-links__description">
          This stainless steel shaker can hold up to 750ml of liquid and comes with a double-sided 15/30ml jigger and two pourers. 
        </p>
        <a class="affiliate-links__link">
         https://www.aliexpress.com/item/750ml-Stainless-Steel-Professional-Bartender-Cocktail-Shaker-Kit-with-Mixer-Jigger-Pourer-Safe-and-Durable-Barware/32785094343.html
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Straws</h2>
    <p class="terminal-list__description">
      Make sure your straws are wide enough to accommodate whatever brand of boba you choose and long enough for all sizes of cups. 
      If your straws are too flimsy or narrow it will frustrate and repel customers. If you decide to purchase a sealer machine make 
      sure your straws have a pointed end to pierce the seal.
    </p>

    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">Karat Boba Mixed Color Straws</p>
        <p class="affiliate-links__description">
          These high quality bubble tea straws come in a variety of colors.
        </p>
        <a class="affiliate-links__link">
          https://www.bobateadirect.com/9-karat-boba-mixed-color-straws-1600pcs-case-individually-wrapped.html
        </a>
      </li>
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">Generic Black Straws</p>
        <p class="affiliate-links__description">
          These black, diagonal cut straws are perfect for boba, jelly, and other bubble tea toppings.
        </p>
        <a class="affiliate-links__link">
          https://www.bobateadirect.com/case-large-straws-black-9-3500pcs.html
        </a>
      </li>
    </ul>
  </li>
  <li class="terminal-list__item">
    <h2 class="terminal-list__title">Cups</h2>
    <p class="terminal-list__description">
      There are a lot of cup brands out there, and we’re here to help you choose. 
      We recommend ensuring your cup sizes are compatible with any of the several sealer machines on the market. 
      Dome lids are also something to consider if you plan on offering frozen drinks. 
      Finally, we’ll show you which companies can offer you custom branding on your cups.
    </p>
    
    <ul class="affiliate-links">
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">Custom Print Boba Tea Cups</p>
        <p class="affiliate-links__description">
          BubbleTeaology offers custom printed cups which can help build your brand. A professional and custom printed
          logo can elevate the your customer's experience and make your bubble tea shop stand out.
        </p>
        <a class="affiliate-links__link">
          https://www.bubbleteaology.com/custom-print-boba-tea-cups/
        </a>
      </li>
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">24oz Split Twin Cup</p>
        <p class="affiliate-links__description">
          This two compartment cup can provide your customers with a truly unique bubble tea experience and make your 
          business stand out from others. The twin cup design allows for your customers to pick and choose various 
          drinks you offer in a single drink experience.
        </p>
        <a class="affiliate-links__link">
          https://www.alibaba.com/product-detail/24oz-700ml-2-compartment-Split-Twin_60641622008.html?spm=a2700.details.maylikever.12.iggd7P
        </a>
      </li>
      <li class="affiliate-links__li">
        <p class="affiliate-links__title">800ml Triplet Split Boba Cup</p>
        <p class="affiliate-links__description">
          Similar to the Split Twin cup, this cup offers three comparments. This is the perfect cup to let your patrons
          sample numerous drink options or to share with friends.
        </p>
        <a class="affiliate-links__link">
          https://www.alibaba.com/product-detail/2017-New-800ml-Triplet-Split-Boba_60643351411.html?spm=a2700.details.maylikever.15.Eya21q
        </a>
      </li>
    </ul>
  </li>
</ul>