---
title: Supplies
---

<% af_category "Supplies" do %>
  <p>
    These are supplies that every bubble tea store needs!
  </p>
<% end %>


<% af_category "Shakers" do %>
  <p>
    The “bubbles” of bubble tea actually refer to the foam that rests at the top of the cup after shaking. 
    Because of this, shakers are one of the most important pieces of equipment in any bubble tea shop. 
    Manual shakers are an option if you’re on a budget, but we recommend a specialized 
    <a href="restaurant-equipment/shaker-machines"> bubble tea shaking machine </a>. 
    These machines ensure drink consistency and are sure to impress your customers.
  </p>

  <ul class="af-category__list">
    <li class="af-category__item">
      <% af_link({ 
        title: "Wecan Stainless Steel Shaker", #link text
        link: "https://www.aliexpress.com/item/Nice-Barware-Drinkware-250-350-550-750ml-Stainless-Steel-Cocktail-Shaker-Bar-Wine-Martini-Drink-Mixer/32780626812.html", #href
        image: 'images/af/supplies/wecanShaker.png'}) do %> <%# image url %>
        These stainless steel shakers come in four sizes: 250ml, 350ml, 530ml, and 750ml.
        -- sold at aliexpress.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "QianYi 550ml Stainless Steel Shaker", #link text
        link: "https://www.aliexpress.com/item/1-pcs-550ml-Cocktail-Shaker-Stainless-Steel-Shaker-Mixer-Drink-Bartender-Kit-Bars-Tool-Party-Bartending/32806125461.html", #href
        image: 'images/af/supplies/qianyiShaker.png'}) do %> <%# image url %>
        This stainless steel shaker can hold up to 550ml of liquid and has an optional customized logo available.
        -- sold at aliexpress.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Finether 750ml Stainless Steel Professional Shaker Kit", #link text
        link: "https://www.aliexpress.com/item/750ml-Stainless-Steel-Professional-Bartender-Cocktail-Shaker-Kit-with-Mixer-Jigger-Pourer-Safe-and-Durable-Barware/32785094343.html", #href
        image: 'images/af/supplies/finetherShaker.png'}) do %> <%# image url %>
        This stainless steel shaker can hold up to 750ml of liquid and comes with a double-sided 15/30ml jigger and two pourers.
        -- sold at aliexpress.com
      <% end %>
    </li>
  </ul>
<% end %>    
    

<% af_category "Straws" do %>
  <p>
    Make sure your straws are wide enough to accommodate whatever brand of boba you choose and long enough for all sizes of cups. 
    If your straws are too flimsy or narrow it will frustrate and repel customers. If you decide to purchase a sealer machine make 
    sure your straws have a pointed end to pierce the seal.
  </p>    

  <ul class="af-category__list">
    <li class="af-category__item">
      <% af_link({ 
        title: "Karat Boba Mixed Color Straws", #link text
        link: "https://www.bobateadirect.com/9-karat-boba-mixed-color-straws-1600pcs-case-individually-wrapped.html", #href
        image: 'images/af/supplies/karatStraws.png'}) do %> <%# image url %>
        These high quality bubble tea straws come in a variety of colors.
        -- sold at bobateadirect.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "Generic Black Straws", #link text
        link: "https://www.bobateadirect.com/case-large-straws-black-9-3500pcs.html", #href
        image: 'images/af/supplies/genericStraws.png'}) do %> <%# image url %>
        These black, diagonal cut straws are perfect for boba, jelly, and other bubble tea toppings.
        -- sold at bobateadirect.com
      <% end %>
    </li>
  </ul>
<% end %>

<% af_category "Cups" do %>
  <p>
    There are a lot of cup brands out there, and we’re here to help you choose. 
    We recommend ensuring your cup sizes are compatible with any of the several sealer machines on the market. 
    Dome lids are also something to consider if you plan on offering frozen drinks. 
    Finally, we’ll show you which companies can offer you custom branding on your cups.
  </p>    

  <ul class="af-category__list">
    <li class="af-category__item">
      <% af_link({ 
        title: "Custom Print Boba Tea Cups", #link text
        link: "https://www.bubbleteaology.com/custom-print-boba-tea-cups/", #href
        image: 'images/af/supplies/customCup.png'}) do %> <%# image url %>
        BubbleTeaology offers custom printed cups which can help build your brand. A professional and custom printed
        logo can elevate the your customer's experience and make your bubble tea shop stand out.
        -- sold at bubbleteaology.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "24oz Split Twin Cup", #link text
        link: "https://www.alibaba.com/product-detail/24oz-700ml-2-compartment-Split-Twin_60641622008.html", #href
        image: 'images/af/supplies/twinCup.png'}) do %> <%# image url %>
        This two compartment cup can provide your customers with a truly unique bubble tea experience and make your 
        business stand out from others. The twin cup design allows for your customers to pick and choose various 
        drinks you offer in a single drink experience.
        -- sold at alibaba.com
      <% end %>
    </li>
    <li class="af-category__item">
      <% af_link({ 
        title: "27oz Triplet Split Boba Cup", #link text
        link: "https://www.alibaba.com/product-detail/2017-New-800ml-Triplet-Split-Boba_60643351411.html", #href
        image: 'images/af/supplies/tripletCup.png'}) do %> <%# image url %>
        Similar to the Split Twin cup, this cup offers three comparments. This is the perfect cup to let your patrons
        sample numerous drink options or to share with friends.
        -- sold at alibaba.com
      <% end %>
    </li>
  </ul>
<% end %>